<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="33800414-3665-4d6f-86f5-c7cc386e0d3a" Alias="accordion" Level="3">
  <Info>
    <Name>Accordion</Name>
    <Icon>icon-conversation-alt color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Block</Folder>
    <Compositions>
      <Composition Key="2e66b764-693e-40cd-a632-e67d62640ca5">mainTitle</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>36f6ce8d-2270-4ebf-a680-f04721031ae6</Key>
      <Name>Accordion Items</Name>
      <Alias>accordionItems</Alias>
      <Definition>b329da87-0d35-487f-9bca-09b5e157ded0</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>15</SortOrder>
      <Tab Alias="mainData">Main Data</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>97eb793f-8a1b-4a71-8849-f40b345c8317</Key>
      <Caption>Main Data</Caption>
      <Alias>mainData</Alias>
      <Type>Group</Type>
      <SortOrder>-100</SortOrder>
    </Tab>
  </Tabs>
</ContentType>