<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4af9cb52-f7ff-4c16-ab44-24f39f19ac45" Alias="categoryItem" Level="3">
  <Info>
    <Name>Category Item</Name>
    <Icon>icon-post-it color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Lookups</Folder>
    <Compositions>
      <Composition Key="2e66b764-693e-40cd-a632-e67d62640ca5">mainTitle</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>