<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="01143432-4ccd-4d6c-b9b8-2617a463578c" Alias="categoryList" Level="3">
  <Info>
    <Name>Category List</Name>
    <Icon>icon-thumbnail-list color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Lookups</Folder>
    <Compositions>
      <Composition Key="2e66b764-693e-40cd-a632-e67d62640ca5">mainTitle</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="4af9cb52-f7ff-4c16-ab44-24f39f19ac45" SortOrder="0">categoryItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>