<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e1b7ea79-2398-4e63-9128-d85a9b04363d" Alias="contactUsPage" Level="3">
  <Info>
    <Name>Contact Us Page</Name>
    <Icon>icon-old-phone color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Contact+us</Folder>
    <Compositions>
      <Composition Key="2e66b764-693e-40cd-a632-e67d62640ca5">mainTitle</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="f9dcf8f5-1b67-440a-abb7-c76e29ef7241" SortOrder="0">submissionOFContactUs</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>0eb5cc8a-bd05-47e6-8e42-6c64b4f750de</Key>
      <Name>Mails</Name>
      <Alias>mails</Alias>
      <Definition>c15e436c-d9f2-4b02-92e4-2c4d8ecfffb2</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="mainData">Main Data</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e752273d-850c-4bf7-816b-1d5e625c32a9</Key>
      <Caption>Main Data</Caption>
      <Alias>mainData</Alias>
      <Type>Group</Type>
      <SortOrder>-100</SortOrder>
    </Tab>
  </Tabs>
</ContentType>