<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6645038f-cc3b-4dcd-aa64-99dc06efe46b" Alias="contentSectionPage" Level="3">
  <Info>
    <Name>Content Section Page</Name>
    <Icon>icon-addressbook color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Content+Section</Folder>
    <Compositions>
      <Composition Key="a2bdbb50-c4a2-4b0e-8c79-f236228be16c">contentSection</Composition>
    </Compositions>
    <DefaultTemplate>ContentSectionPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d7608481-dd4a-458f-994e-951b5994ecce">ContentSectionPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>