<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="47f32eed-9451-446e-98f8-f396342d9441" Alias="contentList" Level="2">
  <Info>
    <Name>Content List</Name>
    <Icon>icon-indent color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="2e66b764-693e-40cd-a632-e67d62640ca5">mainTitle</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="01143432-4ccd-4d6c-b9b8-2617a463578c" SortOrder="0">categoryList</ContentType>
    <ContentType Key="80b4e987-a362-4b6d-b9e3-057a0d1e09e2" SortOrder="1">emailList</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>