<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="295f50db-901c-4338-82e9-6598581700eb" Alias="emailContent" Level="3">
  <Info>
    <Name>Email Content</Name>
    <Icon>icon-message color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Lookups</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>647fa684-2cea-4cbb-a5ce-bd801d098cdf</Key>
      <Name>Email address</Name>
      <Alias>emailAddress</Alias>
      <Definition>b1924d30-7edb-4b1a-8052-22b9895c665d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation>[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+</Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="mainData">Main Data</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f02e0b8a-fd21-4fd2-b7f9-9ea4013ad599</Key>
      <Caption>Main Data</Caption>
      <Alias>mainData</Alias>
      <Type>Group</Type>
      <SortOrder>-100</SortOrder>
    </Tab>
  </Tabs>
</ContentType>