<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="80b4e987-a362-4b6d-b9e3-057a0d1e09e2" Alias="emailList" Level="3">
  <Info>
    <Name>Email List</Name>
    <Icon>icon-folder-close color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Lookups</Folder>
    <Compositions>
      <Composition Key="2e66b764-693e-40cd-a632-e67d62640ca5">mainTitle</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="295f50db-901c-4338-82e9-6598581700eb" SortOrder="0">emailContent</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>