<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="898a2881-061d-4c74-98f2-57592d405dbc" Alias="footer" Level="2">
  <Info>
    <Name>Footer</Name>
    <Icon>icon-settings color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Footer</Folder>
    <Compositions>
      <Composition Key="24d23733-103d-4e3e-8d29-655fe88ebb1d">informationSection</Composition>
      <Composition Key="615f97f4-253e-4986-acd1-35c2f371aded">socialMediaSection</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b1a3675b-44d5-42e7-915c-27831d002562</Key>
      <Name>Footer Links</Name>
      <Alias>footerLinks</Alias>
      <Definition>6dce345c-8f02-4320-abf6-9e3edadd67cb</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footerLinksSection">Footer Links Section</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8f5ad14c-a83a-45bd-b2bf-3caf7ac2b219</Key>
      <Caption>Footer Links Section</Caption>
      <Alias>footerLinksSection</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>