<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="144d075c-67c7-46ed-b230-d6a983812022" Alias="genericGallerySection" Level="3">
  <Info>
    <Name>generic gallery Section</Name>
    <Icon>icon-billboard color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Generic+Component</Folder>
    <Compositions>
      <Composition Key="bd5a7649-10db-4819-9270-37d447ce4113">gallery</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>