<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="15a0a76a-e330-4b17-89b4-657ba3edce40" Alias="genericDetailsPage" Level="3">
  <Info>
    <Name>Generic Details Page</Name>
    <Icon>icon-page-add color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Generic+listing+and+Details</Folder>
    <Compositions>
      <Composition Key="fea26dd7-f5cf-4a65-a6b1-967e8b708ca1">attachmentsSection</Composition>
      <Composition Key="797ec32a-ecbe-46be-b542-2c921c7bb6d3">contentComponentSection</Composition>
      <Composition Key="a2bdbb50-c4a2-4b0e-8c79-f236228be16c">contentSection</Composition>
      <Composition Key="77a38792-b66a-43b8-92d4-7ad3e23bd2ec">fAQsSection</Composition>
      <Composition Key="bd5a7649-10db-4819-9270-37d447ce4113">gallery</Composition>
      <Composition Key="8402da40-118e-478f-9770-e43a666d0345">mainImageComp</Composition>
      <Composition Key="2e66b764-693e-40cd-a632-e67d62640ca5">mainTitle</Composition>
      <Composition Key="d2ec1d37-0019-4750-97f9-3e568e2015f6">relatedLinks</Composition>
      <Composition Key="9aa1ec1e-b008-42bb-b4b1-a2ebe6884293">sEOSettings</Composition>
      <Composition Key="85e14eb7-8e48-4f8f-b2ed-0d9dea76080e">sharingComponent</Composition>
    </Compositions>
    <DefaultTemplate>GenericDetailsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e4723aba-7073-42c2-803d-e9a5107b624e">GenericDetailsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ef65c65c-5abe-4a76-a72c-046b2cc551d7</Key>
      <Name>Brief</Name>
      <Alias>brief</Alias>
      <Definition>be62bf23-ee2f-4c23-a0e9-ce5e39362f96</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="mainData">Main Data</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6cf2720f-db13-4e2e-9077-9de30ee72f65</Key>
      <Name>Category</Name>
      <Alias>category</Alias>
      <Definition>49d24c5f-2c6a-4be7-bd84-06fb76b952ee</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="mainData">Main Data</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6c4c6605-df10-4cfd-8d61-2b57dd2360b6</Key>
      <Name>Date</Name>
      <Alias>date</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="mainData">Main Data</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5754b22d-4854-4a9f-8f43-8953410fd17d</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>d67407bb-e281-4f78-a13a-dee7e0ae210b</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="mainData">Main Data</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9e8d1511-f0df-4da4-94b7-a20e55679616</Key>
      <Caption>Main Data</Caption>
      <Alias>mainData</Alias>
      <Type>Group</Type>
      <SortOrder>-100</SortOrder>
    </Tab>
  </Tabs>
</ContentType>