<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0e74fee1-19dd-4b28-8e2f-207951215b5a" Alias="genericContentSection" Level="3">
  <Info>
    <Name>Generic Content Section</Name>
    <Icon>icon-book-alt color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Generic+Component</Folder>
    <Compositions>
      <Composition Key="a2bdbb50-c4a2-4b0e-8c79-f236228be16c">contentSection</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>