<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4ed0241c-fc19-460d-b018-c5fcc03c61e8" Alias="genericListingPage" Level="3">
  <Info>
    <Name>Generic Listing Page</Name>
    <Icon>icon-bulleted-list color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Generic+listing+and+Details</Folder>
    <Compositions>
      <Composition Key="8402da40-118e-478f-9770-e43a666d0345">mainImageComp</Composition>
      <Composition Key="2e66b764-693e-40cd-a632-e67d62640ca5">mainTitle</Composition>
      <Composition Key="3f5eb119-61a7-4962-9b53-b1dce6d97892">navigationSettings</Composition>
      <Composition Key="9aa1ec1e-b008-42bb-b4b1-a2ebe6884293">sEOSettings</Composition>
    </Compositions>
    <DefaultTemplate>GenericListingPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="eec2b13d-42b9-4c32-9d3a-21e299668ef6">GenericListingPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="15a0a76a-e330-4b17-89b4-657ba3edce40" SortOrder="0">genericDetailsPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>