<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4b73ce78-01ac-4e96-a32b-7ddc5813bbe3" Alias="genericComponentBasedPage" Level="3">
  <Info>
    <Name>Generic Component based page</Name>
    <Icon>icon-article color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Generic+Component</Folder>
    <Compositions>
      <Composition Key="8402da40-118e-478f-9770-e43a666d0345">mainImageComp</Composition>
      <Composition Key="2e66b764-693e-40cd-a632-e67d62640ca5">mainTitle</Composition>
      <Composition Key="3f5eb119-61a7-4962-9b53-b1dce6d97892">navigationSettings</Composition>
      <Composition Key="9aa1ec1e-b008-42bb-b4b1-a2ebe6884293">sEOSettings</Composition>
    </Compositions>
    <DefaultTemplate>GenericComponentBasedPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="52fb96e5-9f2d-4716-8642-92d9f996772f">GenericComponentBasedPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="144d075c-67c7-46ed-b230-d6a983812022" SortOrder="0">genericGallerySection</ContentType>
    <ContentType Key="20d62f9d-281e-406c-b377-0a2f2f254907" SortOrder="1">genericRelatedLinks</ContentType>
    <ContentType Key="e1b7ea79-2398-4e63-9128-d85a9b04363d" SortOrder="2">contactUsPage</ContentType>
    <ContentType Key="0e74fee1-19dd-4b28-8e2f-207951215b5a" SortOrder="3">genericContentSection</ContentType>
    <ContentType Key="148ec408-fabd-42db-8a2c-44c4809ffa66" SortOrder="4">contentComponent</ContentType>
    <ContentType Key="cca579b2-a870-4fb4-bf68-a71d02f37ad8" SortOrder="5">fAQs</ContentType>
    <ContentType Key="3ac7dc08-2c4c-470f-936e-e29d2040cdd9" SortOrder="6">attachments</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>