<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="44b92fcb-b317-435c-9f17-a80a52ab49c9" Alias="mainItemsWithSubitems" Level="3">
  <Info>
    <Name>Main Items With Subitems</Name>
    <Icon>icon-item-arrangement color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Footer/Elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d265aa31-1b38-4ad4-abb5-6a1daf2f1e8a</Key>
      <Name>Main Item Title</Name>
      <Alias>mainItemTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="mainItemsWithSubitems">Main Items With Subitems</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a6ba94a9-d8ea-4100-8245-aa4bf65f308f</Key>
      <Name>Main with Subitems List</Name>
      <Alias>mainWithSubitemsList</Alias>
      <Definition>e9a357da-80b5-4ef9-b087-d9070b0e740f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="mainItemsWithSubitems">Main Items With Subitems</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4d4e68a0-bbdd-4276-ad63-7ce232def7e1</Key>
      <Caption>Main Items With Subitems</Caption>
      <Alias>mainItemsWithSubitems</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>