<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3f5eb119-61a7-4962-9b53-b1dce6d97892" Alias="navigationSettings" Level="2">
  <Info>
    <Name>Navigation Settings</Name>
    <Icon>icon-navigation color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d65b9a4e-82bd-48fc-8cc9-9bc59d19fdce</Key>
      <Name>Menu Title</Name>
      <Alias>menuTitle</Alias>
      <Definition>842e7ef2-f749-4307-a148-0a509699c07a</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="navigationSettings">Navigation Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f0083248-7675-40ef-b9c6-b02cfd829ceb</Key>
      <Name>Show In Header</Name>
      <Alias>showInHeader</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="navigationSettings">Navigation Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0a8a1286-3318-404e-bd53-3c8db89ea7ba</Key>
      <Caption>Navigation Settings</Caption>
      <Alias>navigationSettings</Alias>
      <Type>Group</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>