<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="91a134db-7401-4849-8004-45835a52e94c" Alias="newsLetterSubscriptionList" Level="3">
  <Info>
    <Name>News Letter Subscription List</Name>
    <Icon>icon-addressbook color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/news+Letter+Subscription</Folder>
    <Compositions>
      <Composition Key="2e66b764-693e-40cd-a632-e67d62640ca5">mainTitle</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="68530b09-bd8a-4137-bf99-b633e5213257" SortOrder="0">subscriptionItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>