<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="35f89e12-fd0a-41b7-bcec-6d3c53acdf19" Alias="notFoundPage" Level="1">
  <Info>
    <Name>NotFoundPage</Name>
    <Icon>icon-alert color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>NotFoundPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="dd0e9676-2f60-456d-8bbf-e34e4877bc19">NotFoundPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>