<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="85e14eb7-8e48-4f8f-b2ed-0d9dea76080e" Alias="sharingComponent" Level="2">
  <Info>
    <Name>Sharing Component</Name>
    <Icon>icon-share color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Sharing+Component</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>39c105d0-aef9-4310-a1f9-f9d30d51c6da</Key>
      <Name>CopyLink</Name>
      <Alias>copyLink</Alias>
      <Definition>8e7f995c-bd81-4627-9932-c40e568ec788</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="sharingItems">Sharing Items</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>847bd165-5db5-45f6-a3b4-7f5bf63fc915</Key>
      <Name>Facebook</Name>
      <Alias>facebook</Alias>
      <Definition>8e7f995c-bd81-4627-9932-c40e568ec788</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sharingItems">Sharing Items</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2d4989d3-f54d-406f-875a-b9c5b7b03b71</Key>
      <Name>Twitter</Name>
      <Alias>twitter</Alias>
      <Definition>8e7f995c-bd81-4627-9932-c40e568ec788</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="sharingItems">Sharing Items</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>329b2c0f-faac-4dd2-a358-ee29613e3617</Key>
      <Name>WhatsApp</Name>
      <Alias>whatsApp</Alias>
      <Definition>8e7f995c-bd81-4627-9932-c40e568ec788</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sharingItems">Sharing Items</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9c8bb454-0c4c-4116-94c6-e1954b69268c</Key>
      <Caption>Sharing Items</Caption>
      <Alias>sharingItems</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>