<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="68530b09-bd8a-4137-bf99-b633e5213257" Alias="subscriptionItem" Level="3">
  <Info>
    <Name>Subscription item</Name>
    <Icon>icon-checkbox-dotted-active color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/news+Letter+Subscription</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>83034287-3566-4cf1-8dbd-d876017c5494</Key>
      <Name>EmailOfSubscription</Name>
      <Alias>emailOfSubscription</Alias>
      <Definition>e1f59d95-3c18-4dbd-8e91-a5792778bf59</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation>[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+</Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="mainData">Main Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>582f9149-5e15-4c11-bfee-4c613576f566</Key>
      <Caption>Main Data</Caption>
      <Alias>mainData</Alias>
      <Type>Group</Type>
      <SortOrder>-100</SortOrder>
    </Tab>
  </Tabs>
</ContentType>