<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\Debug\net5.0\UmbracoStarterProject.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <!--<environmentVariables>
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="443" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>-->
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="443" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
      <security>
        <requestFiltering>
          <!-- Measured in Bytes -->
          <!--<requestLimits maxAllowedContentLength="1073741824" />-->
          <requestLimits maxAllowedContentLength="4294967295" />
          <!-- 1 GB-->
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>