<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ef14a548-c273-4e86-87a8-401a95760aa8" Alias="Category Item - Category Name - Textbox" Level="1">
  <Info>
    <Name>Category Item - Category Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>