<?xml version="1.0" encoding="utf-8"?>
<DataType Key="debb2487-e15a-45b9-a569-7121bd139a79" Alias="Content Component - CTA - Multi URL Picker" Level="1">
  <Info>
    <Name>Content Component - CTA - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>