<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c15e436c-d9f2-4b02-92e4-2c4d8ecfffb2" Alias="Contact Us Page - Mails - Multinode Treepicker" Level="1">
  <Info>
    <Name>Contact Us Page - Mails - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "emailContent",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 10,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/558bc0f7b6b54e7da39633288b07d747",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>