<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6180475c-a275-4720-8684-0b5329959df1" Alias="Content section Item - Item title - Textbox" Level="1">
  <Info>
    <Name>Content section Item - Item title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>