<?xml version="1.0" encoding="utf-8"?>
<DataType Key="18d47d95-5fc4-4d6d-b86e-3b4311661dd5" Alias="Content section Item - item content - Textarea" Level="1">
  <Info>
    <Name>Content section Item - item content - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>