<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cd446976-721e-45c2-97dd-44f762a53893" Alias="Content Component - Media Item - Media Picker" Level="1">
  <Info>
    <Name>Content Component - Media Item - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image,umbracoMediaVideo",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>