<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d5ab6b9b-5ef6-46d0-b5db-edb40201765b" Alias="External Link - Link - Textbox" Level="1">
  <Info>
    <Name>External Link - Link - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>