<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dffd7e7d-a9d1-4ea6-a2fc-d6cc280d91d2" Alias="Gallery - Gallery Title - Textbox" Level="1">
  <Info>
    <Name>Gallery - Gallery Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>