<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6cd1afb7-868f-4fdd-9c1a-915372ab3bca" Alias="Gallery - Title - Textbox" Level="1">
  <Info>
    <Name>Gallery - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>