<?xml version="1.0" encoding="utf-8"?>
<DataType Key="49d24c5f-2c6a-4be7-bd84-06fb76b952ee" Alias="Generic Details Page - Category - Multinode Treepicker" Level="1">
  <Info>
    <Name>Generic Details Page - Category - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "categoryItem",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/7e8d200ed80d4031bc761ce6c4aabe7e",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>