<?xml version="1.0" encoding="utf-8"?>
<DataType Key="be62bf23-ee2f-4c23-a0e9-ce5e39362f96" Alias="Generic Details Page - Brief - Textarea" Level="1">
  <Info>
    <Name>Generic Details Page - Brief - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>