<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dd2e0833-00fd-437a-9fea-16be59625546" Alias="HotLine" Level="2">
  <Info>
    <Name>HotLine</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Footer</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 6
}]]></Config>
</DataType>