<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1bf21731-7037-4bbc-9611-2b2e8173129a" Alias="Image In Gallery - Image Description - Textbox" Level="1">
  <Info>
    <Name>Image In Gallery - Image Description - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>