<?xml version="1.0" encoding="utf-8"?>
<DataType Key="06ef9665-9ac2-4fa5-a0cb-07fdc055584c" Alias="Image In Gallery - Media Image - Media Picker" Level="1">
  <Info>
    <Name>Image In Gallery - Media Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "GalleryImage",
      "height": 593,
      "label": "GalleryImage",
      "width": 1055
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>