<?xml version="1.0" encoding="utf-8"?>
<DataType Key="842e7ef2-f749-4307-a148-0a509699c07a" Alias="Navigation Settings - Menu Title - Textbox" Level="1">
  <Info>
    <Name>Navigation Settings - Menu Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>