<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5fdc99be-f87d-44dd-a99e-a85fb3bf40e7" Alias="Photo In Content Component - Media Picker" Level="1">
  <Info>
    <Name>Photo In Content Component - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "umbracoMediaVideo,Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>