<?xml version="1.0" encoding="utf-8"?>
<DataType Key="910a4a45-1daa-4aa9-bce8-35e2f751a0fc" Alias="Photo In Content Component - Image - Media Picker" Level="1">
  <Info>
    <Name>Photo In Content Component - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>