<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e46f4f23-5568-42ba-b6b6-3910a1a37a40" Alias="Question - Question Type - Radio button list" Level="1">
  <Info>
    <Name>Question - Question Type - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 2,
      "value": "Multi Choice"
    },
    {
      "id": 3,
      "value": "One Answer"
    }
  ]
}]]></Config>
</DataType>