<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c1e825ea-35d5-47fc-a94d-c3dd10fa0969" Alias="Related links - Related link Title - Textbox" Level="1">
  <Info>
    <Name>Related links - Related link Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>