<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e3c6e0bc-60ef-45c6-a2e9-07834bd1b661" Alias="Related links - Related link Items - Multinode Treepicker" Level="1">
  <Info>
    <Name>Related links - Related link Items - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "homePage,genericListingPage,genericDetailsPage,genericComponentBasedPage,genericContactUs",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/ed59b510bab5410e944caad12e87c5c6",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>