<?xml version="1.0" encoding="utf-8"?>
<DataType Key="34eec89d-e6b8-418f-bb57-9a4b5576ae2d" Alias="Sharing Component - mm - Eye Dropper Color Picker" Level="1">
  <Info>
    <Name>Sharing Component - mm - Eye Dropper Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowAlpha": false,
  "ShowPalette": false
}]]></Config>
</DataType>