<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4c35b88b-3f08-4722-bb0e-6c4f4aba6f04" Alias="Submission OF ContactUs - Phone - Textbox" Level="1">
  <Info>
    <Name>Submission OF ContactUs - Phone - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>