<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0b72556a-c7a4-4585-8eca-672948e8e5ff" Alias="Submission OF ContactUs - Message - Textbox" Level="1">
  <Info>
    <Name>Submission OF ContactUs - Message - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>