<?xml version="1.0" encoding="utf-8"?>
<DataType Key="93c65fe0-2619-417f-99fa-ef89e1a84a9b" Alias="Submission OF ContactUs - Full Name - Textbox" Level="1">
  <Info>
    <Name>Submission OF ContactUs - Full Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>