<?xml version="1.0" encoding="utf-8"?>
<DataType Key="891aaac1-54f8-4edd-b7ba-fe3b7227025e" Alias="Submission OF ContactUs - Message - Textarea (1)" Level="1">
  <Info>
    <Name>Submission OF ContactUs - Message - Textarea (1)</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>