<?xml version="1.0" encoding="utf-8"?>
<DataType Key="83ce04ba-d844-47b3-b053-58db74e88bd9" Alias="Submission OF ContactUs - Message Title - Textbox" Level="1">
  <Info>
    <Name>Submission OF ContactUs - Message Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>