<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b1924d30-7edb-4b1a-8052-22b9895c665d" Alias="Submission OF ContactUs - Email - Textbox" Level="1">
  <Info>
    <Name>Submission OF ContactUs - Email - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>