<?xml version="1.0" encoding="utf-8"?>
<DataType Key="abdc823e-a9a7-4d2f-b6e4-bcae9e0e8752" Alias="Submission OF ContactUs - Message - Textarea" Level="1">
  <Info>
    <Name>Submission OF ContactUs - Message - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>