<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e1f59d95-3c18-4dbd-8e91-a5792778bf59" Alias="Subscription item - EmailOfSubscription - Textbox" Level="1">
  <Info>
    <Name>Subscription item - EmailOfSubscription - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>