<?xml version="1.0" encoding="utf-8"?>
<DataType Key="988417c8-626c-4683-a5b2-78a4eaab6184" Alias="Text - Text - Rich Text Editor" Level="1">
  <Info>
    <Name>Text - Text - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "styles",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>