<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ebc58590-c903-44e5-9332-75845a3d33db" Alias="Video Uploader - Video Description - Textarea" Level="1">
  <Info>
    <Name>Video Uploader - Video Description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>