<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7782586f-d870-4f2a-9b31-9432ef7ad032" Alias="Video Uploader - Video Thumbnail - Media Picker" Level="1">
  <Info>
    <Name>Video Uploader - Video Thumbnail - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "GalleryVideoThumbnail",
      "height": 593,
      "label": "GalleryVideoThumbnail",
      "width": 1055
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>