<?xml version="1.0" encoding="utf-8"?>
<DataType Key="99a34a34-46bd-4f57-99fc-65cc32ab7225" Alias="Video Uploader - Media Video Uploader - Media Picker" Level="1">
  <Info>
    <Name>Video Uploader - Media Video Uploader - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "umbracoMediaVideo",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>