<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c03cae84-d3f9-4e0c-bb4e-28ead4bf9487" Alias="YouTube Video - YouTube Video Link - Textbox" Level="1">
  <Info>
    <Name>YouTube Video - YouTube Video Link - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>