@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{

    var mainImage = @ViewData["mainImage"];
    //Model.Value<MainImageComp>("coverImage")?.CoverImage?.GetCropUrl("defaultCrop");
    //Url.GetCropUrl(Model.Value("coverImage"), "defaultCrop",true);
    //Model.Value("coverImage")?.SafeCast<Image>()?.GetCropUrl("defaultCrop");
}

<div style="border:1px solid;padding:10px;margin:10px;">
    <h4>Image</h4>
    <div style="background-image:url('@mainImage');width:100px;height:100px;"></div>
</div>



