@using UmbracoStarterProject.Models
@model ErrorModel


<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , minimum-scale=1.0, maximum-scale = 1.0, user-scalable = no">
    <title>@Model.SiteName</title>

    @*TODO , add custom style here*@
</head>

<body dir="rtl">
    <div class="error-page">
        <h1 class="error-page__title"> @Model.FormalWesiteforUmbracoStarterProject</h1>
        <p class="error-page__status-code">
            @Model.ErrorMessage
        </p>
        <a class="generic-oval-gold-btn" href="/" style="">
            @Model.GoHomePage
        </a>
    </div>

</body>
</html>