<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab0e8d27-7f48-4365-b931-c9bb12318869" Alias="BodyOfAPI.txt" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/BodyOfAPItxt</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-09T10:01:18</CreateDate>
    <NodeName Default="BodyOfAPI.txt" />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/eggb3k0i/bodyofapi.txt"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>