<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf5ff506-ee52-48e7-984b-b0f361770063" Alias="BodyOfAPI.txt (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/BodyOfAPItxt1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-09T11:46:59</CreateDate>
    <NodeName Default="BodyOfAPI.txt (1)" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ad0f5p0s/bodyofapi.txt"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>