<?xml version="1.0" encoding="utf-8"?>
<Media Key="5915ad0f-e26e-4f1c-8a0d-7745ea871d22" Alias="Download (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Download1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-10T16:02:10</CreateDate>
    <NodeName Default="Download (1)" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bgwbkwlo/download-1.jfif"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>