<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c1067a2-5975-40cf-ade8-046417018d2b" Alias="Filepdf.pdf" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Filepdfpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-03T16:16:35</CreateDate>
    <NodeName Default="Filepdf.pdf" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/urtba5dv/filepdf.pdf"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>