<?xml version="1.0" encoding="utf-8"?>
<Media Key="8cd8e662-77e3-4f1d-8d16-929d176207d4" Alias="Filepdf" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Filepdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-08-20T16:31:54</CreateDate>
    <NodeName Default="Filepdf" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pltnrdhd/filepdf.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>