<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2e3f466-fbbb-4c48-8d7d-7117f7de41d1" Alias="Mostafa Meraji Hl0riqulwmm Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MostafaMerajiHl0riqulwmmUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-13T12:59:08</CreateDate>
    <NodeName Default="Mostafa Meraji Hl0riqulwmm Unsplash" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/md0ohuv1/mostafa-meraji-hl0riqulwmm-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>