<?xml version="1.0" encoding="utf-8"?>
<Media Key="5d712ee2-ae2a-47de-a172-63b8f5021351" Alias="Mostafa Meraji Dh3tclsibui Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MostafaMerajiDh3tclsibuiUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-13T12:59:08</CreateDate>
    <NodeName Default="Mostafa Meraji Dh3tclsibui Unsplash" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2qxhcxjk/mostafa-meraji-dh3tclsibui-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>