<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d5096b2-23e2-42c9-96ac-8db65e7c5fc9" Alias="Mostafa Meraji Hjgeb78b2z8 Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MostafaMerajiHjgeb78b2z8Unsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-13T12:59:08</CreateDate>
    <NodeName Default="Mostafa Meraji Hjgeb78b2z8 Unsplash" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wslfahpc/mostafa-meraji-hjgeb78b2z8-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>