<?xml version="1.0" encoding="utf-8"?>
<Media Key="c10f6997-0da5-4631-ab17-23bbb84e63b3" Alias="New Text Document.txt" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/NewTextDocumenttxt</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-08T14:57:07</CreateDate>
    <NodeName Default="New Text Document.txt" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sfub5qnf/new-text-document.txt"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>