<?xml version="1.0" encoding="utf-8"?>
<Media Key="5cd7a320-75d5-4e19-ab6b-03afa59d2371" Alias="New Text Document.txt" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NewTextDocumenttxt</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-08T15:22:31</CreateDate>
    <NodeName Default="New Text Document.txt" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/e0rnoxgv/new-text-document.txt"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>