<?xml version="1.0" encoding="utf-8"?>
<Media Key="17dc7582-221b-484d-863e-53a40b36560c" Alias="New Text Document.txt (2)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/NewTextDocumenttxt2</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-08T15:31:34</CreateDate>
    <NodeName Default="New Text Document.txt (2)" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qr0nyfy1/new-text-document.txt"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>