<?xml version="1.0" encoding="utf-8"?>
<Media Key="71d86b4b-3ae5-43fc-8298-2705a3091475" Alias="OIP" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OIP</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-25T16:53:44</CreateDate>
    <NodeName Default="OIP" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jvvnq2pf/oip.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>