<?xml version="1.0" encoding="utf-8"?>
<Media Key="7083b74a-2bce-4c00-9165-fe75e300d499" Alias="pexels-dogadakisakal-15178696.jpg (6)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/pexelsDogadakisakal15178696jpg6</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-08T15:06:24</CreateDate>
    <NodeName Default="pexels-dogadakisakal-15178696.jpg (6)" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/js1jg2go/pexels-dogadakisakal-15178696.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>