<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6143ca6-4897-4ede-bbd0-458a084b3487" Alias="pexels-dogadakisakal-15178696.jpg (23)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/pexelsDogadakisakal15178696jpg23</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-08T19:43:06</CreateDate>
    <NodeName Default="pexels-dogadakisakal-15178696.jpg (23)" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ua4bjnux/pexels-dogadakisakal-15178696.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>