<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a5d6c9a-c80f-402c-9e0b-ea69938eb034" Alias="pexels-umut-sarıalan-17589784.jpg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/pexelsUmutSarialan17589784jpg</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-09T13:15:58</CreateDate>
    <NodeName Default="pexels-umut-sarıalan-17589784.jpg" />
    <SortOrder>52</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/trwf0cqp/pexels-umut-sarıalan-17589784.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>