<?xml version="1.0" encoding="utf-8"?>
<Media Key="9845ef4a-f951-4f24-9f9e-8cbf2ac78b30" Alias="pexels-ceejay-talam-11897866.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pexelsCeejayTalam11897866jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-03T16:18:00</CreateDate>
    <NodeName Default="pexels-ceejay-talam-11897866.jpg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jtxflgcr/pexels-ceejay-talam-11897866.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>