<?xml version="1.0" encoding="utf-8"?>
<Media Key="80a8e1af-b98a-4081-8370-174820b4ec59" Alias="pexels-dogadakisakal-15178696.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pexelsDogadakisakal15178696jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-08T18:36:02</CreateDate>
    <NodeName Default="pexels-dogadakisakal-15178696.jpg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vhqlraek/pexels-dogadakisakal-15178696.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>