<?xml version="1.0" encoding="utf-8"?>
<Media Key="01e4c03c-b604-4200-a78c-d2a53ebd9764" Alias="pexels-dogadakisakal-15178696.jpg (17)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/pexelsDogadakisakal15178696jpg17</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-08T16:13:33</CreateDate>
    <NodeName Default="pexels-dogadakisakal-15178696.jpg (17)" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hlaoiaie/pexels-dogadakisakal-15178696.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>