<?xml version="1.0" encoding="utf-8"?>
<Media Key="b95dd186-bfe2-4751-bf6d-c74ef6f1077c" Alias="pexels-dogadakisakal-15178696.jpg (8)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pexelsDogadakisakal15178696jpg8</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-08T16:19:34</CreateDate>
    <NodeName Default="pexels-dogadakisakal-15178696.jpg (8)" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qdif1opc/pexels-dogadakisakal-15178696.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>