<?xml version="1.0" encoding="utf-8"?>
<Media Key="bccf3132-ac26-47eb-86da-42ddd7aacc6c" Alias="pexels-dogadakisakal-15178696.jpg (14)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/pexelsDogadakisakal15178696jpg14</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-08T16:15:33</CreateDate>
    <NodeName Default="pexels-dogadakisakal-15178696.jpg (14)" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gqyn5pbg/pexels-dogadakisakal-15178696.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>