<?xml version="1.0" encoding="utf-8"?>
<Media Key="f88830a2-9b78-4839-83ae-05a194e4ea0f" Alias="Pexels Ceejay Talam 11897866" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PexelsCeejayTalam11897866</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-20T12:28:45</CreateDate>
    <NodeName Default="Pexels Ceejay Talam 11897866" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uqyir4dy/pexels-ceejay-talam-11897866.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>