<?xml version="1.0" encoding="utf-8"?>
<Media Key="b95dd186-bfe2-4751-bf6d-c74ef6f1077c" Alias="pexels-dogadakisakal-15178696.jpg (13)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/pexelsDogadakisakal15178696jpg13</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-08T16:19:34</CreateDate>
    <NodeName Default="pexels-dogadakisakal-15178696.jpg (13)" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qdif1opc/pexels-dogadakisakal-15178696.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>