<?xml version="1.0" encoding="utf-8"?>
<Media Key="53dd3eca-9bf7-4778-a82d-7e15926e9a6d" Alias="Pexels Videos 4409 (1080P)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PexelsVideos44091080P</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2023-08-20T13:53:11</CreateDate>
    <NodeName Default="Pexels Videos 4409 (1080P)" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2i5n0u5x/pexels_videos_4409-1080p.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>