<?xml version="1.0" encoding="utf-8"?>
<Media Key="d48b6259-0cec-444b-a49a-59c25686acb2" Alias="pexels-dogadakisakal-15178696.jpg (4)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/pexelsDogadakisakal15178696jpg4</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-08T15:09:13</CreateDate>
    <NodeName Default="pexels-dogadakisakal-15178696.jpg (4)" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/l3rixvhm/pexels-dogadakisakal-15178696.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>