<?xml version="1.0" encoding="utf-8"?>
<Media Key="03f7b585-aa8b-4e1c-bcf3-b760a8181d20" Alias="pexels-dogadakisakal-15178696.jpg (7)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/pexelsDogadakisakal15178696jpg7</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-08T15:18:16</CreateDate>
    <NodeName Default="pexels-dogadakisakal-15178696.jpg (7)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qo0poa2l/pexels-dogadakisakal-15178696.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>