<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7c3c0fd-4c28-49c6-83ca-c0cca5dbf31a" Alias="pexels-dogadakisakal-15178696.jpg (3)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/pexelsDogadakisakal15178696jpg3</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-08T15:12:46</CreateDate>
    <NodeName Default="pexels-dogadakisakal-15178696.jpg (3)" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5pamhjzi/pexels-dogadakisakal-15178696.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>