<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6f4c6f7-179e-4dff-a9b0-bf68fe13d432" Alias="pexels-dogadakisakal-15178696.jpg (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/pexelsDogadakisakal15178696jpg1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-08T14:59:37</CreateDate>
    <NodeName Default="pexels-dogadakisakal-15178696.jpg (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4hdpjju4/pexels-dogadakisakal-15178696.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>