<?xml version="1.0" encoding="utf-8"?>
<Media Key="782adc4f-4f7f-4d5f-ad26-ec97255330ed" Alias="pexels-dogadakisakal-15178696.jpg (22)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/pexelsDogadakisakal15178696jpg22</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-08T18:40:58</CreateDate>
    <NodeName Default="pexels-dogadakisakal-15178696.jpg (22)" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jhocu4d5/pexels-dogadakisakal-15178696.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>