<?xml version="1.0" encoding="utf-8"?>
<Media Key="3da1a690-819a-4db9-b181-f7d0f9d829c7" Alias="Project features.pdf (12)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/ProjectFeaturespdf12</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-08T19:22:47</CreateDate>
    <NodeName Default="Project features.pdf (12)" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/s0tkcpm0/project-features.pdf"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>