<?xml version="1.0" encoding="utf-8"?>
<Media Key="9b57caf9-9ecb-4ae8-ab8d-db71726da05b" Alias="Project Features" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/ProjectFeatures</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-08-08T10:51:44</CreateDate>
    <NodeName Default="Project Features" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/05ffpg4l/project-features.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>