<?xml version="1.0" encoding="utf-8"?>
<Media Key="9009fb5f-9991-4177-97cf-480678b1df3e" Alias="Project features.pdf (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/ProjectFeaturespdf1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-08T18:44:52</CreateDate>
    <NodeName Default="Project features.pdf (1)" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lh3bteer/project-features.pdf"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>