<?xml version="1.0" encoding="utf-8"?>
<Media Key="b49a5eb7-5a59-4ba4-a465-68eb4790cc23" Alias="Project features.pdf (5)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProjectFeaturespdf5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-08T19:30:03</CreateDate>
    <NodeName Default="Project features.pdf (5)" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wfpjvncz/project-features.pdf"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>