<?xml version="1.0" encoding="utf-8"?>
<Media Key="3a6e794a-9ec9-46b8-9514-62f75f61c824" Alias="Project features.pdf (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProjectFeaturespdf1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-08T19:19:06</CreateDate>
    <NodeName Default="Project features.pdf (1)" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jr2h2owj/project-features.pdf"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>