<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa734ff1-6a30-41bc-9896-c79ea9c15b4d" Alias="Project features.pdf (15)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/ProjectFeaturespdf15</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-08T19:17:57</CreateDate>
    <NodeName Default="Project features.pdf (15)" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/43hhhkrq/project-features.pdf"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>