<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b5f9cd3-a78a-4ed9-a2a1-4ae193bd439f" Alias="Project features.pdf" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/ProjectFeaturespdf</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-08T18:41:49</CreateDate>
    <NodeName Default="Project features.pdf" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0wof5c2k/project-features.pdf"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>