<?xml version="1.0" encoding="utf-8"?>
<Media Key="94334939-2ea2-4422-9f3b-cb979c3eba9f" Alias="Project features.pdf (5)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/ProjectFeaturespdf5</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-08T19:28:45</CreateDate>
    <NodeName Default="Project features.pdf (5)" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/h3edhffc/project-features.pdf"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>