<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c52cb1b-1132-4ead-bb03-3d1c5c266536" Alias="Project features.pdf (3)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/ProjectFeaturespdf3</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-08T19:05:25</CreateDate>
    <NodeName Default="Project features.pdf (3)" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dxfffdbs/project-features.pdf"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>