<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d803304-e405-4cec-bc8a-bfee7bc3a1c5" Alias="Project features.pdf (17)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/ProjectFeaturespdf17</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-09T14:17:52</CreateDate>
    <NodeName Default="Project features.pdf (17)" />
    <SortOrder>54</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/aizjahif/project-features.pdf"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>