<?xml version="1.0" encoding="utf-8"?>
<Media Key="6bb32a7b-d512-4176-aee7-c13f8a5aab55" Alias="Project features.pdf (10)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/ProjectFeaturespdf10</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-08T20:03:00</CreateDate>
    <NodeName Default="Project features.pdf (10)" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/puvlg0ys/project-features.pdf"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>