<?xml version="1.0" encoding="utf-8"?>
<Media Key="10274166-485c-4d5e-a97c-00dcd6246aae" Alias="Snake River (5Mb)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SnakeRiver5Mb</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-10T16:00:28</CreateDate>
    <NodeName Default="Snake River (5Mb)" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mbadoec2/snake_river_-5mb.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>