<?xml version="1.0" encoding="utf-8"?>
<Media Key="5f7115e1-8905-45b9-bfbc-eacd76411298" Alias="Tengyart Ksvptrfhaiu Unsplash (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TengyartKsvptrfhaiuUnsplash1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-13T12:59:08</CreateDate>
    <NodeName Default="Tengyart Ksvptrfhaiu Unsplash (1)" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/22khcxyf/tengyart-ksvptrfhaiu-unsplash-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>