<?xml version="1.0" encoding="utf-8"?>
<Media Key="782065c7-fb07-426b-9b9f-98217b211dba" Alias="Videoplayback" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Videoplayback</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2023-07-06T13:49:01</CreateDate>
    <NodeName Default="Videoplayback" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/33sda4ah/videoplayback.webm]]></Value>
    </umbracoFile>
  </Properties>
</Media>