<?xml version="1.0" encoding="utf-8"?>
<Content Key="8883d9b9-214f-45d7-a397-f0d23e5de4d8" Alias="404 Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Page</Path>
    <Trashed>false</Trashed>
    <ContentType>notFoundPage</ContentType>
    <CreateDate>2023-06-08T14:36:07</CreateDate>
    <NodeName Default="404 Page" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="dd0e9676-2f60-456d-8bbf-e34e4877bc19">NotFoundPage</Template>
  </Info>
  <Properties />
</Content>