<?xml version="1.0" encoding="utf-8"?>
<Content Key="afcd41a7-1d88-4c1d-873b-00938a9ad014" Alias="asd" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/asd</Path>
    <Trashed Parent="f47052cc-cd2e-47a8-91bb-f7f32659d3f4">true</Trashed>
    <ContentType>submissionOFContactUs</ContentType>
    <CreateDate>2023-08-08T11:26:50</CreateDate>
    <NodeName Default="asd" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[sad@g.cc]]></Value>
    </email>
    <fullName>
      <Value><![CDATA[asd]]></Value>
    </fullName>
    <message>
      <Value><![CDATA[ww]]></Value>
    </message>
    <messageTitle>
      <Value><![CDATA[www]]></Value>
    </messageTitle>
    <phone>
      <Value><![CDATA[12221212]]></Value>
    </phone>
    <uploadFile>
      <Value><![CDATA[]]></Value>
    </uploadFile>
  </Properties>
</Content>