<?xml version="1.0" encoding="utf-8"?>
<Content Key="64b7d286-74b6-41b8-a5db-1db586c311a1" Alias="asdas@y.cc" Level="2">
  <Info>
    <Parent Key="67dbb428-42e5-4978-a43d-006a19f993a5">NewsLetter Subscription</Parent>
    <Path>/NewsLetterSubscription/asdasYcc</Path>
    <Trashed>false</Trashed>
    <ContentType>subscriptionItem</ContentType>
    <CreateDate>2023-08-21T15:45:08</CreateDate>
    <NodeName Default="asdas@y.cc" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailOfSubscription>
      <Value><![CDATA[asdas@y.cc]]></Value>
    </emailOfSubscription>
  </Properties>
</Content>