<?xml version="1.0" encoding="utf-8"?>
<Content Key="5315c64d-5b9f-434d-a0d3-081277f30efd" Alias="Attachments Component" Level="3">
  <Info>
    <Parent Key="5ac89dc5-f814-4f6b-a24d-5f39d70adf88">صفحة عامة</Parent>
    <Path>///AttachmentsComponent</Path>
    <Trashed>false</Trashed>
    <ContentType>attachments</ContentType>
    <CreateDate>2023-08-21T16:39:31</CreateDate>
    <NodeName Default="Attachments Component">
      <Name Culture="ar-eg">Attachments Component</Name>
    </NodeName>
    <SortOrder>14</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <attachmentTitle>
      <Value Culture="ar-eg"><![CDATA[Attachment Title]]></Value>
    </attachmentTitle>
    <files>
      <Value Culture="ar-eg"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8b91d48d7cee443cb63bf1e1603b6734"
      },
      {
        "contentUdi": "umb://element/f3f425139baa4af88833d6f3935b19f0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "22095b01-1465-4dde-8661-fe1462383ec8",
      "udi": "umb://element/f3f425139baa4af88833d6f3935b19f0",
      "file": "[\r\n  {\r\n    \"key\": \"804b0e81-4130-4bde-8435-e5f03b66e5d4\",\r\n    \"mediaKey\": \"8cd8e662-77e3-4f1d-8d16-929d176207d4\"\r\n  }\r\n]",
      "title": "File Name title 22",
      "description": ""
    },
    {
      "contentTypeKey": "22095b01-1465-4dde-8661-fe1462383ec8",
      "udi": "umb://element/8b91d48d7cee443cb63bf1e1603b6734",
      "file": "[\r\n  {\r\n    \"key\": \"97e4adff-d98f-493d-935c-b46fb480f565\",\r\n    \"mediaKey\": \"68fb8234-ce18-437d-ae18-f69b47690125\"\r\n  }\r\n]",
      "title": "File Name title",
      "description": "<p>File Discription1</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </files>
  </Properties>
</Content>