<?xml version="1.0" encoding="utf-8"?>
<Content Key="599691b7-60a5-4078-9339-577399c500be" Alias="bakram@turndigital.net" Level="3">
  <Info>
    <Parent Key="1f3f8201-b703-4061-9252-d966395852af">عناوين بريد الكتروني</Parent>
    <Path>///bakramTurndigitalnet</Path>
    <Trashed>false</Trashed>
    <ContentType>emailContent</ContentType>
    <CreateDate>2023-09-03T16:00:16</CreateDate>
    <NodeName Default="bakram@turndigital.net">
      <Name Culture="ar-eg">bakram@turndigital.net</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailAddress>
      <Value Culture="ar-eg"><![CDATA[bakram@turndigital.net]]></Value>
    </emailAddress>
  </Properties>
</Content>