<?xml version="1.0" encoding="utf-8"?>
<Content Key="5de87888-547c-422a-8367-bfe27c64bd58" Alias="bakram@turndigital.net" Level="2">
  <Info>
    <Parent Key="67dbb428-42e5-4978-a43d-006a19f993a5">NewsLetter Subscription</Parent>
    <Path>/NewsLetterSubscription/bakramTurndigitalnet</Path>
    <Trashed>false</Trashed>
    <ContentType>subscriptionItem</ContentType>
    <CreateDate>2023-08-29T18:48:31</CreateDate>
    <NodeName Default="bakram@turndigital.net" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailOfSubscription>
      <Value><![CDATA[bakram@turndigital.net]]></Value>
    </emailOfSubscription>
  </Properties>
</Content>