<?xml version="1.0" encoding="utf-8"?>
<Content Key="e1dd88de-eea9-4fa2-be49-17590cf5be18" Alias="beshoy" Level="3">
  <Info>
    <Parent Key="897b621a-47fb-4f7b-9d4a-58f908c4fd25">صفحة أتصل بنا</Parent>
    <Path>///beshoy</Path>
    <Trashed>false</Trashed>
    <ContentType>submissionOFContactUs</ContentType>
    <CreateDate>2023-09-03T18:26:48</CreateDate>
    <NodeName Default="beshoy" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[beshoy@w.ww]]></Value>
    </email>
    <fullName>
      <Value><![CDATA[beshoy]]></Value>
    </fullName>
    <message>
      <Value><![CDATA[test]]></Value>
    </message>
    <messageTitle>
      <Value><![CDATA[]]></Value>
    </messageTitle>
    <phone>
      <Value><![CDATA[213121231]]></Value>
    </phone>
    <uploadFile>
      <Value><![CDATA[]]></Value>
    </uploadFile>
  </Properties>
</Content>