<?xml version="1.0" encoding="utf-8"?>
<Content Key="5ae33a80-614f-4cb6-b60d-38ceff4b4789" Alias="beshoy (1)" Level="4">
  <Info>
    <Parent Key="01a27a76-4a0c-4884-a35c-16f18414a653">تواصل معنا 2</Parent>
    <Path>////beshoy1</Path>
    <Trashed>false</Trashed>
    <ContentType>submissionOFContactUs</ContentType>
    <CreateDate>2023-09-03T16:00:39</CreateDate>
    <NodeName Default="beshoy (1)" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[beshoy@g.cc]]></Value>
    </email>
    <fullName>
      <Value><![CDATA[beshoy]]></Value>
    </fullName>
    <message>
      <Value><![CDATA[contentnnnn]]></Value>
    </message>
    <messageTitle>
      <Value><![CDATA[conconcnoc]]></Value>
    </messageTitle>
    <phone>
      <Value><![CDATA[01545555555]]></Value>
    </phone>
    <uploadFile>
      <Value><![CDATA[]]></Value>
    </uploadFile>
  </Properties>
</Content>