<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1028872-295b-437e-8a8f-cd159d385b5a" Alias="content section" Level="2">
  <Info>
    <Parent Key="ed59b510-bab5-410e-944c-aad12e87c5c6">Home</Parent>
    <Path>/Home/contentSection</Path>
    <Trashed>false</Trashed>
    <ContentType>contentSectionPage</ContentType>
    <CreateDate>2023-07-31T03:20:27</CreateDate>
    <NodeName Default="content section">
      <Name Culture="ar-eg">content section</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
    </Published>
    <Schedule />
    <Template Key="d7608481-dd4a-458f-994e-951b5994ecce">ContentSectionPage</Template>
  </Info>
  <Properties>
    <contentSectionItems>
      <Value Culture="ar-eg"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/382f76a843a7466fbff2a6cd81dc3200",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/5668406eaefc42cc8c3a112cac0b05b3"
      }
    ],
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/068bf613c1b94417b2e7d7eaa82d2111"
      },
      {
        "contentUdi": "umb://element/7695c5f47bc345a7a52fd9e1d547c917"
      },
      {
        "contentUdi": "umb://element/282a62e1489c409da94c5b69740e5150"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0a39323e-aae8-442a-9fae-ddf628275abf",
      "udi": "umb://element/068bf613c1b94417b2e7d7eaa82d2111",
      "itemTitle": "test Item title",
      "itemContent": "test item content*\nitem content*\nitem content*\n"
    },
    {
      "contentTypeKey": "0a39323e-aae8-442a-9fae-ddf628275abf",
      "udi": "umb://element/7695c5f47bc345a7a52fd9e1d547c917",
      "itemTitle": "test Item title",
      "itemContent": "test item content*\nitem content*\nitem content*\n"
    },
    {
      "contentTypeKey": "0a39323e-aae8-442a-9fae-ddf628275abf",
      "udi": "umb://element/282a62e1489c409da94c5b69740e5150",
      "itemTitle": "test Item title",
      "itemContent": "test item content*\nitem content*\nitem content*\n"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentSectionItems>
  </Properties>
</Content>