<?xml version="1.0" encoding="utf-8"?>
<Content Key="d4610d8b-c2ce-43dc-8b5f-02bbb73a767e" Alias="Content Component" Level="3">
  <Info>
    <Parent Key="5ac89dc5-f814-4f6b-a24d-5f39d70adf88">صفحة عامة</Parent>
    <Path>///ContentComponent</Path>
    <Trashed>false</Trashed>
    <ContentType>contentComponent</ContentType>
    <CreateDate>2023-08-21T16:32:41</CreateDate>
    <NodeName Default="Content Component">
      <Name Culture="ar-eg">Content Component</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cTA>
      <Value Culture="ar-eg"><![CDATA[[
  {
    "name": "الرئيسية",
    "udi": "umb://document/ed59b510bab5410e944caad12e87c5c6"
  }
]]]></Value>
    </cTA>
    <mediaItem>
      <Value Culture="ar-eg"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6595062e3500470bba5125c22331719a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7c92b1b5-ff38-4a36-8336-428ab15ddf63",
      "udi": "umb://element/6595062e3500470bba5125c22331719a",
      "image": "[\r\n  {\r\n    \"key\": \"893c8eaf-0ead-4291-b9ad-b78de93cdbf1\",\r\n    \"mediaKey\": \"763fc596-9590-4b4f-beac-6ac6182853c2\"\r\n  }\r\n]",
      "imagePosition": "Side image"
    }
  ],
  "settingsData": []
}]]></Value>
    </mediaItem>
    <title>
      <Value Culture="ar-eg"><![CDATA[Content Title]]></Value>
    </title>
  </Properties>
</Content>