<?xml version="1.0" encoding="utf-8"?>
<Content Key="b0abeb92-ec67-4f70-a428-9da1ee85915c" Alias="ereeny adel" Level="3">
  <Info>
    <Parent Key="1f3f8201-b703-4061-9252-d966395852af">عناوين بريد الكتروني</Parent>
    <Path>///ereenyAdel</Path>
    <Trashed>false</Trashed>
    <ContentType>emailContent</ContentType>
    <CreateDate>2023-07-12T15:02:46</CreateDate>
    <NodeName Default="ereeny adel">
      <Name Culture="ar-eg">ereeny adel</Name>
      <Name Culture="en-us">ereeny adel</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailAddress>
      <Value Culture="ar-eg"><![CDATA[eadel@turndigital.net]]></Value>
      <Value Culture="en-us"><![CDATA[eadel@turndigital.net]]></Value>
    </emailAddress>
  </Properties>
</Content>