<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d917808-9e5b-43bd-9879-3d95e371f7c2" Alias="faqs" Level="3">
  <Info>
    <Parent Key="5ac89dc5-f814-4f6b-a24d-5f39d70adf88">صفحة عامة</Parent>
    <Path>///faqs</Path>
    <Trashed>false</Trashed>
    <ContentType>fAQs</ContentType>
    <CreateDate>2023-09-03T15:41:24</CreateDate>
    <NodeName Default="faqs">
      <Name Culture="ar-eg">faqs</Name>
    </NodeName>
    <SortOrder>11</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <copyLink>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </copyLink>
    <facebook>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </facebook>
    <faqsList>
      <Value Culture="ar-eg"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2df22cbc84af40ad91aa5d01bca524fb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "33800414-3665-4d6f-86f5-c7cc386e0d3a",
      "udi": "umb://element/2df22cbc84af40ad91aa5d01bca524fb",
      "title": "safda",
      "accordionItems": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/f412ef0a4da34b1289605686d5491983\"\r\n      },\r\n      {\r\n        \"contentUdi\": \"umb://element/2e58e50a2d4f41d0b1431a1fe94c5a12\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"f4e4f089-6ada-4d8d-b28c-a6b672652446\",\r\n      \"udi\": \"umb://element/f412ef0a4da34b1289605686d5491983\",\r\n      \"Title\": \"asd\",\r\n      \"Body\": \"<p>asd</p>\"\r\n    },\r\n    {\r\n      \"contentTypeKey\": \"f4e4f089-6ada-4d8d-b28c-a6b672652446\",\r\n      \"udi\": \"umb://element/2e58e50a2d4f41d0b1431a1fe94c5a12\",\r\n      \"Title\": \"sss\",\r\n      \"Body\": \"<p>sss</p>\"\r\n    }\r\n  ],\r\n  \"settingsData\": []\r\n}"
    }
  ],
  "settingsData": []
}]]></Value>
    </faqsList>
    <title>
      <Value Culture="ar-eg"><![CDATA[The Air Filter Company]]></Value>
    </title>
    <twitter>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </twitter>
    <whatsApp>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </whatsApp>
  </Properties>
</Content>