<?xml version="1.0" encoding="utf-8"?>
<Content Key="85201530-d94f-44a8-bb53-797783d73310" Alias="FAQs" Level="3">
  <Info>
    <Parent Key="5ac89dc5-f814-4f6b-a24d-5f39d70adf88">صفحة عامة</Parent>
    <Path>///FAQs</Path>
    <Trashed>false</Trashed>
    <ContentType>fAQs</ContentType>
    <CreateDate>2023-08-21T16:35:41</CreateDate>
    <NodeName Default="FAQs">
      <Name Culture="ar-eg">FAQs</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <faqsList>
      <Value Culture="ar-eg"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a8600a48dfdc47f3b0a8f24d1ac75e7b"
      },
      {
        "contentUdi": "umb://element/745fd6d994fe4919bd32f76057081b74"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "33800414-3665-4d6f-86f5-c7cc386e0d3a",
      "udi": "umb://element/a8600a48dfdc47f3b0a8f24d1ac75e7b",
      "title": "New FAQ",
      "accordionItems": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/4f9c1f69f22940078e544edfa8e5080a\"\r\n      },\r\n      {\r\n        \"contentUdi\": \"umb://element/a595e721a5cc4c85a4b1facdab6d303a\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"f4e4f089-6ada-4d8d-b28c-a6b672652446\",\r\n      \"udi\": \"umb://element/4f9c1f69f22940078e544edfa8e5080a\",\r\n      \"Title\": \"question 1\",\r\n      \"Body\": \"<p>Answer 1</p>\"\r\n    },\r\n    {\r\n      \"contentTypeKey\": \"f4e4f089-6ada-4d8d-b28c-a6b672652446\",\r\n      \"udi\": \"umb://element/a595e721a5cc4c85a4b1facdab6d303a\",\r\n      \"Title\": \"Question 2\",\r\n      \"Body\": \"<p>Answer 2</p>\"\r\n    }\r\n  ],\r\n  \"settingsData\": []\r\n}"
    },
    {
      "contentTypeKey": "33800414-3665-4d6f-86f5-c7cc386e0d3a",
      "udi": "umb://element/745fd6d994fe4919bd32f76057081b74",
      "title": "FAQ2",
      "accordionItems": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/571baf733dcf4fcbb3b87d5b23e4f029\"\r\n      },\r\n      {\r\n        \"contentUdi\": \"umb://element/14799542fe8b48c59b204c7d210f6f5d\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"f4e4f089-6ada-4d8d-b28c-a6b672652446\",\r\n      \"udi\": \"umb://element/571baf733dcf4fcbb3b87d5b23e4f029\",\r\n      \"Title\": \"Question1\",\r\n      \"Body\": \"<p>Answewr1</p>\"\r\n    },\r\n    {\r\n      \"contentTypeKey\": \"f4e4f089-6ada-4d8d-b28c-a6b672652446\",\r\n      \"udi\": \"umb://element/14799542fe8b48c59b204c7d210f6f5d\",\r\n      \"Title\": \"Question2\",\r\n      \"Body\": \"<p>Answer2</p>\"\r\n    }\r\n  ],\r\n  \"settingsData\": []\r\n}"
    }
  ],
  "settingsData": []
}]]></Value>
    </faqsList>
    <title>
      <Value Culture="ar-eg"><![CDATA[Faq Title]]></Value>
    </title>
  </Properties>
</Content>