<?xml version="1.0" encoding="utf-8"?>
<Content Key="c1478b4b-15a9-4b36-b616-99822657c76f" Alias="Generic Content Section" Level="3">
  <Info>
    <Parent Key="5ac89dc5-f814-4f6b-a24d-5f39d70adf88">صفحة عامة</Parent>
    <Path>///GenericContentSection</Path>
    <Trashed>false</Trashed>
    <ContentType>genericContentSection</ContentType>
    <CreateDate>2023-08-21T16:31:40</CreateDate>
    <NodeName Default="Generic Content Section">
      <Name Culture="ar-eg">Generic Content Section</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentSectionItems>
      <Value Culture="ar-eg"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e63622dc24e24e3c8a298e8b4a7be7a3"
      },
      {
        "contentUdi": "umb://element/7210e4f3f33b4fd997fdc8f356a7d863"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0a39323e-aae8-442a-9fae-ddf628275abf",
      "udi": "umb://element/e63622dc24e24e3c8a298e8b4a7be7a3",
      "itemTitle": "Title 1",
      "itemContent": "Brief 1"
    },
    {
      "contentTypeKey": "0a39323e-aae8-442a-9fae-ddf628275abf",
      "udi": "umb://element/7210e4f3f33b4fd997fdc8f356a7d863",
      "itemTitle": "Title2",
      "itemContent": "Brief 2"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentSectionItems>
  </Properties>
</Content>