<?xml version="1.0" encoding="utf-8"?>
<Content Key="f517ea60-9f76-4de4-bc76-07a194c0e194" Alias="GenericListPage" Level="2">
  <Info>
    <Parent Key="ed59b510-bab5-410e-944c-aad12e87c5c6">الرئيسية</Parent>
    <Path>//GenericListPage</Path>
    <Trashed>false</Trashed>
    <ContentType>genericListingPage</ContentType>
    <CreateDate>2023-07-05T14:34:29</CreateDate>
    <NodeName Default="GenericListPage">
      <Name Culture="ar-eg">GenericListPage</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
    </Published>
    <Schedule />
    <Template Key="eec2b13d-42b9-4c32-9d3a-21e299668ef6">GenericListingPage</Template>
  </Info>
  <Properties>
    <coverImage>
      <Value Culture="ar-eg"><![CDATA[[
  {
    "key": "fc25f717-5410-4991-9e9e-c3bd9e305667",
    "mediaKey": "763fc596-9590-4b4f-beac-6ac6182853c2"
  }
]]]></Value>
    </coverImage>
    <menuTitle>
      <Value Culture="ar-eg"><![CDATA[GenericListPage Menu Title]]></Value>
    </menuTitle>
    <sEODescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </sEODescription>
    <sEOKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </sEOKeywords>
    <sEOTitle>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </sEOTitle>
    <showInHeader>
      <Value Culture="ar-eg"><![CDATA[1]]></Value>
    </showInHeader>
    <title>
      <Value Culture="ar-eg"><![CDATA[GenericListPage]]></Value>
    </title>
  </Properties>
</Content>