<?xml version="1.0" encoding="utf-8"?>
<Content Key="d79d5794-0663-48ec-ab1b-500f7b8050de" Alias="Home (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Home1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-08-07T14:49:30</CreateDate>
    <NodeName Default="Home (1)">
      <Name Culture="ar-eg">Home (1)</Name>
      <Name Culture="fr-fr">ad</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">false</Published>
      <Published Culture="fr-fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="2672a094-0956-4259-b1fd-9a5d5d4f0f68">HomePage</Template>
  </Info>
  <Properties>
    <favIcon>
      <Value Culture="ar-eg"><![CDATA[[]]]></Value>
      <Value Culture="fr-fr"><![CDATA[[
  {
    "key": "665fdbaf-85e5-427b-a56c-15d921e07e39",
    "mediaKey": "5915ad0f-e26e-4f1c-8a0d-7745ea871d22"
  }
]]]></Value>
    </favIcon>
    <sEODescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="fr-fr"><![CDATA[]]></Value>
    </sEODescription>
    <sEOKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="fr-fr"><![CDATA[]]></Value>
    </sEOKeywords>
    <sEOTitle>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="fr-fr"><![CDATA[]]></Value>
    </sEOTitle>
    <siteLogo>
      <Value Culture="ar-eg"><![CDATA[[
  {
    "key": "93f8cba3-aa29-43d8-bfec-fee365d85ce7",
    "mediaKey": "14d60e6a-cfbb-4557-acf2-f8d434633c93"
  }
]]]></Value>
      <Value Culture="fr-fr"><![CDATA[[
  {
    "key": "f33ce28b-da4c-4cb9-a43c-c834e34cc0a9",
    "mediaKey": "71d86b4b-3ae5-43fc-8298-2705a3091475"
  }
]]]></Value>
    </siteLogo>
    <siteTitle>
      <Value Culture="ar-eg"><![CDATA[home]]></Value>
      <Value Culture="fr-fr"><![CDATA[ss]]></Value>
    </siteTitle>
  </Properties>
</Content>