<?xml version="1.0" encoding="utf-8"?>
<Content Key="e45a7cd4-fe46-403f-93c2-4832bef2dd7d" Alias="Micheal" Level="3">
  <Info>
    <Parent Key="1f3f8201-b703-4061-9252-d966395852af">عناوين بريد الكتروني</Parent>
    <Path>///Micheal</Path>
    <Trashed>false</Trashed>
    <ContentType>emailContent</ContentType>
    <CreateDate>2023-07-12T15:04:30</CreateDate>
    <NodeName Default="Micheal">
      <Name Culture="ar-eg">Micheal</Name>
      <Name Culture="en-us">Micheal</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailAddress>
      <Value Culture="ar-eg"><![CDATA[michael@turndigital.net]]></Value>
      <Value Culture="en-us"><![CDATA[michael@turndigital.net]]></Value>
    </emailAddress>
  </Properties>
</Content>