<?xml version="1.0" encoding="utf-8"?>
<Content Key="ceb3d81c-43f5-463a-8cdb-c84631b3bdaf" Alias="Mihael" Level="4">
  <Info>
    <Parent Key="01a27a76-4a0c-4884-a35c-16f18414a653">تواصل معنا 2</Parent>
    <Path>////Mihael</Path>
    <Trashed>false</Trashed>
    <ContentType>submissionOFContactUs</ContentType>
    <CreateDate>2023-07-17T14:08:11</CreateDate>
    <NodeName Default="Mihael" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[michael@turndigital.net]]></Value>
    </email>
    <fullName>
      <Value><![CDATA[Mihael]]></Value>
    </fullName>
    <message>
      <Value><![CDATA[Message]]></Value>
    </message>
    <messageTitle>
      <Value><![CDATA[title linksss]]></Value>
    </messageTitle>
    <phone>
      <Value><![CDATA[23121111]]></Value>
    </phone>
    <uploadFile>
      <Value><![CDATA[]]></Value>
    </uploadFile>
  </Properties>
</Content>