<?xml version="1.0" encoding="utf-8"?>
<Content Key="67dbb428-42e5-4978-a43d-006a19f993a5" Alias="NewsLetter Subscription" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NewsLetterSubscription</Path>
    <Trashed>false</Trashed>
    <ContentType>newsLetterSubscriptionList</ContentType>
    <CreateDate>2023-08-21T14:36:57</CreateDate>
    <NodeName Default="NewsLetter Subscription">
      <Name Culture="ar-eg">NewsLetter Subscription</Name>
      <Name Culture="en-us">NewsLetter Subscription</Name>
      <Name Culture="fr-fr">Inscription à la Newsletter</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr-fr">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value Culture="ar-eg"><![CDATA[مشتركين النشرة الشهرية]]></Value>
      <Value Culture="en-us"><![CDATA[NewsLetter Subscription]]></Value>
      <Value Culture="fr-fr"><![CDATA[Inscription à la Newsletter]]></Value>
    </title>
  </Properties>
</Content>