<?xml version="1.0" encoding="utf-8"?>
<Content Key="aafa0ee4-64dd-40c6-9cc0-3cc1e399fe45" Alias="qq" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/qq</Path>
    <Trashed Parent="f47052cc-cd2e-47a8-91bb-f7f32659d3f4">true</Trashed>
    <ContentType>submissionOFContactUs</ContentType>
    <CreateDate>2023-08-08T11:31:36</CreateDate>
    <NodeName Default="qq" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[q@q.com]]></Value>
    </email>
    <fullName>
      <Value><![CDATA[qq]]></Value>
    </fullName>
    <message>
      <Value><![CDATA[asdad]]></Value>
    </message>
    <messageTitle>
      <Value><![CDATA[asdads]]></Value>
    </messageTitle>
    <phone>
      <Value><![CDATA[05122211]]></Value>
    </phone>
    <uploadFile>
      <Value><![CDATA[]]></Value>
    </uploadFile>
  </Properties>
</Content>