<?xml version="1.0" encoding="utf-8"?>
<Content Key="2a3a2453-0cbb-4324-baa9-e125ee01e9ab" Alias="sss (12)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/sss12</Path>
    <Trashed Parent="f47052cc-cd2e-47a8-91bb-f7f32659d3f4">true</Trashed>
    <ContentType>submissionOFContactUs</ContentType>
    <CreateDate>2023-08-08T16:19:35</CreateDate>
    <NodeName Default="sss (12)" />
    <SortOrder>21</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[sad@g.cc]]></Value>
    </email>
    <fullName>
      <Value><![CDATA[sss]]></Value>
    </fullName>
    <message>
      <Value><![CDATA[ww]]></Value>
    </message>
    <messageTitle>
      <Value><![CDATA[asda]]></Value>
    </messageTitle>
    <phone>
      <Value><![CDATA[01545555555]]></Value>
    </phone>
    <uploadFile>
      <Value><![CDATA[1274]]></Value>
    </uploadFile>
  </Properties>
</Content>