<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd4ac884-ae50-469e-8817-8d3dcabd1906" Alias="sss (5)" Level="4">
  <Info>
    <Parent Key="f47052cc-cd2e-47a8-91bb-f7f32659d3f4">تواصل معنا</Parent>
    <Path>/Home///sss5</Path>
    <Trashed>false</Trashed>
    <ContentType>submissionOFContactUs</ContentType>
    <CreateDate>2023-08-08T15:51:44</CreateDate>
    <NodeName Default="sss (5)" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[sad@g.cc]]></Value>
    </email>
    <fullName>
      <Value><![CDATA[sss]]></Value>
    </fullName>
    <message>
      <Value><![CDATA[ww]]></Value>
    </message>
    <messageTitle>
      <Value><![CDATA[asda]]></Value>
    </messageTitle>
    <phone>
      <Value><![CDATA[01545555555]]></Value>
    </phone>
    <uploadFile>
      <Value><![CDATA[/media/ar1kjjcd/pexels-dogadakisakal-15178696.jpg]]></Value>
    </uploadFile>
  </Properties>
</Content>