<?xml version="1.0" encoding="utf-8"?>
<Content Key="4b8e9542-40d7-440a-8b6a-128ac3fac734" Alias="subscription item2" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/subscriptionItem2</Path>
    <Trashed Parent="28fdb038-dc81-4a75-8972-2011812eb24f">true</Trashed>
    <ContentType>subscriptionItem</ContentType>
    <CreateDate>2023-08-07T15:27:10</CreateDate>
    <NodeName Default="subscription item2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailOfSubscription>
      <Value><![CDATA[]]></Value>
    </emailOfSubscription>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>