<?xml version="1.0" encoding="utf-8"?>
<Content Key="97603448-a9b8-45cd-8723-d937c08ea274" Alias="Subscription item" Level="2">
  <Info>
    <Parent Key="28fdb038-dc81-4a75-8972-2011812eb24f">subscription List</Parent>
    <Path>/subscriptionList/SubscriptionItem</Path>
    <Trashed>false</Trashed>
    <ContentType>subscriptionItem</ContentType>
    <CreateDate>2023-08-07T15:17:28</CreateDate>
    <NodeName Default="Subscription item">
      <Name Culture="ar-eg">Subscription item</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailOfSubscription>
      <Value Culture="ar-eg"><![CDATA[beshoyakram92@gmail.com]]></Value>
    </emailOfSubscription>
    <title>
      <Value Culture="ar-eg"><![CDATA[Subscription List 5]]></Value>
    </title>
  </Properties>
</Content>