<?xml version="1.0" encoding="utf-8"?>
<Content Key="8136d0ce-ab49-4f7d-bfe7-f23436eafc0e" Alias="Test" Level="4">
  <Info>
    <Parent Key="01a27a76-4a0c-4884-a35c-16f18414a653">تواصل معنا 2</Parent>
    <Path>////Test</Path>
    <Trashed>false</Trashed>
    <ContentType>submissionOFContactUs</ContentType>
    <CreateDate>2023-07-17T14:09:52</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[test@y.cc]]></Value>
    </email>
    <fullName>
      <Value><![CDATA[Test]]></Value>
    </fullName>
    <message>
      <Value><![CDATA[adsada]]></Value>
    </message>
    <messageTitle>
      <Value><![CDATA[test]]></Value>
    </messageTitle>
    <phone>
      <Value><![CDATA[12312311]]></Value>
    </phone>
  </Properties>
</Content>