<?xml version="1.0" encoding="utf-8"?>
<Content Key="665b9b7b-6183-46b7-a474-db48defb64b1" Alias="test z" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/testZ</Path>
    <Trashed Parent="f47052cc-cd2e-47a8-91bb-f7f32659d3f4">true</Trashed>
    <ContentType>submissionOFContactUs</ContentType>
    <CreateDate>2023-08-08T11:15:39</CreateDate>
    <NodeName Default="test z" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[z@gmail.com]]></Value>
    </email>
    <fullName>
      <Value><![CDATA[test z]]></Value>
    </fullName>
    <message>
      <Value><![CDATA[asa]]></Value>
    </message>
    <messageTitle>
      <Value><![CDATA[asa]]></Value>
    </messageTitle>
    <phone>
      <Value><![CDATA[0155555555]]></Value>
    </phone>
    <uploadFile>
      <Value><![CDATA[]]></Value>
    </uploadFile>
  </Properties>
</Content>