<?xml version="1.0" encoding="utf-8"?>
<Content Key="7e6ab79d-8d0c-43f8-93d2-253a92fc32bd" Alias="أسئلة عامة" Level="2">
  <Info>
    <Parent Key="ed59b510-bab5-410e-944c-aad12e87c5c6">الرئيسية</Parent>
    <Path>//</Path>
    <Trashed>false</Trashed>
    <ContentType>fAQsWithTemplate</ContentType>
    <CreateDate>2023-08-29T17:40:00</CreateDate>
    <NodeName Default="أسئلة عامة">
      <Name Culture="ar-eg">أسئلة عامة</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
    </Published>
    <Schedule />
    <Template Key="3f8e124c-6cbb-434a-9f2f-a2902726b89e">FAQsWithTemplate</Template>
  </Info>
  <Properties>
    <faqsList>
      <Value Culture="ar-eg"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b07204cae5b24c8b8a1bf26ffb43f0e4"
      },
      {
        "contentUdi": "umb://element/f1eb7c981e504917b65bcb88e6573a2c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "33800414-3665-4d6f-86f5-c7cc386e0d3a",
      "udi": "umb://element/b07204cae5b24c8b8a1bf26ffb43f0e4",
      "title": "مجموعة اولي",
      "accordionItems": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/cf0c821a3c2b473994a112fd45f47b0e\"\r\n      },\r\n      {\r\n        \"contentUdi\": \"umb://element/0e6ddba0972c4385bd449a9b522dbd20\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"f4e4f089-6ada-4d8d-b28c-a6b672652446\",\r\n      \"udi\": \"umb://element/cf0c821a3c2b473994a112fd45f47b0e\",\r\n      \"Title\": \"سؤال اول\",\r\n      \"Body\": \"<p>اجابة اولي</p>\"\r\n    },\r\n    {\r\n      \"contentTypeKey\": \"f4e4f089-6ada-4d8d-b28c-a6b672652446\",\r\n      \"udi\": \"umb://element/0e6ddba0972c4385bd449a9b522dbd20\",\r\n      \"Title\": \"سؤال ثاني \",\r\n      \"Body\": \"<p>اجابة ثانية</p>\"\r\n    }\r\n  ],\r\n  \"settingsData\": []\r\n}"
    },
    {
      "contentTypeKey": "33800414-3665-4d6f-86f5-c7cc386e0d3a",
      "udi": "umb://element/f1eb7c981e504917b65bcb88e6573a2c",
      "title": "مجموعة ثانية",
      "accordionItems": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/c75e886623de41d295bfde278ca23db4\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"f4e4f089-6ada-4d8d-b28c-a6b672652446\",\r\n      \"udi\": \"umb://element/c75e886623de41d295bfde278ca23db4\",\r\n      \"Title\": \"سوال اول\",\r\n      \"Body\": \"<p>اجابة اولي</p>\"\r\n    }\r\n  ],\r\n  \"settingsData\": []\r\n}"
    }
  ],
  "settingsData": []
}]]></Value>
    </faqsList>
    <menuTitle>
      <Value Culture="ar-eg"><![CDATA[أسئلة عامة]]></Value>
    </menuTitle>
    <showInHeader>
      <Value Culture="ar-eg"><![CDATA[1]]></Value>
    </showInHeader>
    <title>
      <Value Culture="ar-eg"><![CDATA[سؤال هام]]></Value>
    </title>
  </Properties>
</Content>