<?xml version="1.0" encoding="utf-8"?>
<Content Key="0fa53306-bff8-45d3-9584-a3a0ccf5af09" Alias="أعدادات تذييل الصفحة" Level="2">
  <Info>
    <Parent Key="ed59b510-bab5-410e-944c-aad12e87c5c6">الرئيسية</Parent>
    <Path>//</Path>
    <Trashed>false</Trashed>
    <ContentType>footer</ContentType>
    <CreateDate>2023-08-29T17:31:05</CreateDate>
    <NodeName Default="أعدادات تذييل الصفحة">
      <Name Culture="ar-eg">أعدادات تذييل الصفحة</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <address>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </address>
    <email>
      <Value Culture="ar-eg"><![CDATA[beshoy@gmail.com]]></Value>
    </email>
    <footerLinks>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </footerLinks>
    <hotLine>
      <Value Culture="ar-eg"><![CDATA[123312]]></Value>
    </hotLine>
    <landLine>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </landLine>
    <socialMediaList>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </socialMediaList>
    <socialTitle>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </socialTitle>
  </Properties>
</Content>