<?xml version="1.0" encoding="utf-8"?>
<Content Key="ed59b510-bab5-410e-944c-aad12e87c5c6" Alias="الرئيسية" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-06-08T13:19:40</CreateDate>
    <NodeName Default="الرئيسية">
      <Name Culture="ar-eg">الرئيسية</Name>
      <Name Culture="en-us">Homepage</Name>
      <Name Culture="fr-fr">Homepage</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr-fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="2672a094-0956-4259-b1fd-9a5d5d4f0f68">HomePage</Template>
  </Info>
  <Properties>
    <favIcon>
      <Value Culture="ar-eg"><![CDATA[[
  {
    "key": "23c6c78a-fc71-4267-bf8a-1328f8482420",
    "mediaKey": "543692d1-3db6-450c-b36c-70fc2d3fc933"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "03447b1e-362e-4c79-95bd-80bc96ff7a24",
    "mediaKey": "543692d1-3db6-450c-b36c-70fc2d3fc933"
  }
]]]></Value>
      <Value Culture="fr-fr"><![CDATA[[
  {
    "key": "295d7af3-4c4a-48ee-9fa0-78ad14e6d90c",
    "mediaKey": "763fc596-9590-4b4f-beac-6ac6182853c2"
  }
]]]></Value>
    </favIcon>
    <sEODescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr-fr"><![CDATA[]]></Value>
    </sEODescription>
    <sEOKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr-fr"><![CDATA[]]></Value>
    </sEOKeywords>
    <sEOTitle>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr-fr"><![CDATA[]]></Value>
    </sEOTitle>
    <siteLogo>
      <Value Culture="ar-eg"><![CDATA[[
  {
    "key": "ded76a8f-7982-4402-9382-958e9a30ddda",
    "mediaKey": "14d60e6a-cfbb-4557-acf2-f8d434633c93"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "d61efb9a-cf39-44df-94cb-23070e081054",
    "mediaKey": "14d60e6a-cfbb-4557-acf2-f8d434633c93"
  }
]]]></Value>
      <Value Culture="fr-fr"><![CDATA[[
  {
    "key": "0aa2408e-ad60-44b6-9fd1-d0926c435de1",
    "mediaKey": "8baa2889-975b-44e9-9dd0-24133c61caa9"
  }
]]]></Value>
    </siteLogo>
    <siteTitle>
      <Value Culture="ar-eg"><![CDATA[الرئيسية]]></Value>
      <Value Culture="en-us"><![CDATA[Homepage]]></Value>
      <Value Culture="fr-fr"><![CDATA[Homepage]]></Value>
    </siteTitle>
    <sliderBannerSelection>
      <Value Culture="ar-eg"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/46a25134be5b43f498db802d2b47eba4"
      },
      {
        "contentUdi": "umb://element/330c330d8371447cbcdf7c09b465f331"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "90d51809-7b1f-425a-b2e9-44c76793feed",
      "udi": "umb://element/46a25134be5b43f498db802d2b47eba4",
      "title": "Google",
      "link": "https://www.google.com/"
    },
    {
      "contentTypeKey": "ac11b469-833d-4084-95f5-e7301d8c62cf",
      "udi": "umb://element/330c330d8371447cbcdf7c09b465f331",
      "link": "umb://document/1c57dc94e4a6435cbd9af8cea31b0838"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b191eeb6c1774a34a84052700f004ef2"
      },
      {
        "contentUdi": "umb://element/aef2d847018544498017ddff90e6db69"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "90d51809-7b1f-425a-b2e9-44c76793feed",
      "udi": "umb://element/b191eeb6c1774a34a84052700f004ef2",
      "title": "Googlee",
      "link": "https://www.google.com/"
    },
    {
      "contentTypeKey": "ac11b469-833d-4084-95f5-e7301d8c62cf",
      "udi": "umb://element/aef2d847018544498017ddff90e6db69",
      "link": "umb://document/a86340ff60504caf99b530273bd41057"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr-fr"><![CDATA[]]></Value>
    </sliderBannerSelection>
  </Properties>
</Content>