<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c57dc94-e4a6-435c-bd9a-f8cea31b0838" Alias="الاخبار" Level="2">
  <Info>
    <Parent Key="ed59b510-bab5-410e-944c-aad12e87c5c6">Home</Parent>
    <Path>/Home/</Path>
    <Trashed>false</Trashed>
    <ContentType>genericListingPage</ContentType>
    <CreateDate>2023-06-25T16:53:57</CreateDate>
    <NodeName Default="الاخبار">
      <Name Culture="ar-eg">الاخبار</Name>
      <Name Culture="en-us">news</Name>
      <Name Culture="fr-fr">nouvelles</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr-fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="eec2b13d-42b9-4c32-9d3a-21e299668ef6">GenericListingPage</Template>
  </Info>
  <Properties>
    <coverImage>
      <Value Culture="ar-eg"><![CDATA[[
  {
    "key": "e91d895f-c046-461c-9f06-9e56b37ec1cd",
    "mediaKey": "71d86b4b-3ae5-43fc-8298-2705a3091475"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "0fb5c6d9-9acb-4c05-9fce-c6a6b0ed71d1",
    "mediaKey": "71d86b4b-3ae5-43fc-8298-2705a3091475"
  }
]]]></Value>
      <Value Culture="fr-fr"><![CDATA[[
  {
    "key": "7f95f725-dcb8-48d9-9740-e0b6dc9a88dc",
    "mediaKey": "71d86b4b-3ae5-43fc-8298-2705a3091475"
  }
]]]></Value>
    </coverImage>
    <menuTitle>
      <Value Culture="ar-eg"><![CDATA[الاخبار ]]></Value>
      <Value Culture="en-us"><![CDATA[news]]></Value>
      <Value Culture="fr-fr"><![CDATA[nouvelles]]></Value>
    </menuTitle>
    <sEODescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr-fr"><![CDATA[]]></Value>
    </sEODescription>
    <sEOKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr-fr"><![CDATA[]]></Value>
    </sEOKeywords>
    <sEOTitle>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr-fr"><![CDATA[]]></Value>
    </sEOTitle>
    <showInHeader>
      <Value Culture="ar-eg"><![CDATA[1]]></Value>
      <Value Culture="en-us"><![CDATA[1]]></Value>
      <Value Culture="fr-fr"><![CDATA[1]]></Value>
    </showInHeader>
    <title>
      <Value Culture="ar-eg"><![CDATA[الاخبار العاجلة ]]></Value>
      <Value Culture="en-us"><![CDATA[news]]></Value>
      <Value Culture="fr-fr"><![CDATA[nouvelles]]></Value>
    </title>
  </Properties>
</Content>