<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc0c1a9f-e545-44c2-83f5-0467775bdf7b" Alias="البحث" Level="2">
  <Info>
    <Parent Key="ed59b510-bab5-410e-944c-aad12e87c5c6">الرئيسية</Parent>
    <Path>//</Path>
    <Trashed>false</Trashed>
    <ContentType>searchResults</ContentType>
    <CreateDate>2023-07-19T02:41:25</CreateDate>
    <NodeName Default="البحث">
      <Name Culture="ar-eg">البحث</Name>
      <Name Culture="en-us">Search Page</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="1b4ea603-74bd-4cc6-9de6-9c7e3b1a6e08">SearchResults</Template>
  </Info>
  <Properties>
    <title>
      <Value Culture="ar-eg"><![CDATA[البحث]]></Value>
      <Value Culture="en-us"><![CDATA[Search Page]]></Value>
    </title>
  </Properties>
</Content>