<?xml version="1.0" encoding="utf-8"?>
<Content Key="558bc0f7-b6b5-4e7d-a396-33288b07d747" Alias="التصنيفات" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>contentList</ContentType>
    <CreateDate>2023-06-25T16:44:58</CreateDate>
    <NodeName Default="التصنيفات" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[التصنيفات]]></Value>
    </title>
  </Properties>
</Content>