<?xml version="1.0" encoding="utf-8"?>
<Content Key="6aea18a6-c627-4fcd-9057-99f03bad6d20" Alias="ايريني عادل " Level="4">
  <Info>
    <Parent Key="c3765626-2962-4b0e-b098-cdf3cf5b2216">تواصل معنا (1)</Parent>
    <Path>////</Path>
    <Trashed>false</Trashed>
    <ContentType>submissionOFContactUs</ContentType>
    <CreateDate>2023-07-16T16:29:17</CreateDate>
    <NodeName Default="ايريني عادل " />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[eadel@tutndigital.net]]></Value>
    </email>
    <fullName>
      <Value><![CDATA[ايريني عادل ]]></Value>
    </fullName>
    <message>
      <Value><![CDATA[testtesttesttesttesttesttesttesttesttesttest]]></Value>
    </message>
    <messageTitle>
      <Value><![CDATA[test]]></Value>
    </messageTitle>
    <phone>
      <Value><![CDATA[0124786621489]]></Value>
    </phone>
  </Properties>
</Content>