<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d13303b-13f5-47bc-bd58-7aba90022f6a" Alias="ايريني عادل  (3)" Level="4">
  <Info>
    <Parent Key="c3765626-2962-4b0e-b098-cdf3cf5b2216">تواصل معنا (1)</Parent>
    <Path>////</Path>
    <Trashed>false</Trashed>
    <ContentType>submissionOFContactUs</ContentType>
    <CreateDate>2023-07-17T01:20:23</CreateDate>
    <NodeName Default="ايريني عادل  (3)" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[eadel@tutndigital.net]]></Value>
    </email>
    <fullName>
      <Value><![CDATA[ايريني عادل ]]></Value>
    </fullName>
    <message>
      <Value><![CDATA[testtesttesttest]]></Value>
    </message>
    <messageTitle>
      <Value><![CDATA[test]]></Value>
    </messageTitle>
    <phone>
      <Value><![CDATA[0124786621489]]></Value>
    </phone>
  </Properties>
</Content>