<?xml version="1.0" encoding="utf-8"?>
<Content Key="c332b90c-4e00-42a1-8259-af2d748a7942" Alias="تصنيف 1" Level="3">
  <Info>
    <Parent Key="7e8d200e-d80d-4031-bc76-1ce6c4aabe7e">تصنيفات عامة</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryItem</ContentType>
    <CreateDate>2023-06-25T16:45:29</CreateDate>
    <NodeName Default="تصنيف 1">
      <Name Culture="ar-eg">تصنيف 1</Name>
      <Name Culture="en-us">Category1</Name>
      <Name Culture="fr-fr">classification</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">false</Published>
      <Published Culture="fr-fr">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value Culture="ar-eg"><![CDATA[تصنيف ]]></Value>
      <Value Culture="en-us"><![CDATA[Category1]]></Value>
      <Value Culture="fr-fr"><![CDATA[classification]]></Value>
    </title>
  </Properties>
</Content>