<?xml version="1.0" encoding="utf-8"?>
<Content Key="50a404a2-32f9-47e5-a23e-8c69cb29be4e" Alias="تصنيف 3" Level="3">
  <Info>
    <Parent Key="7e8d200e-d80d-4031-bc76-1ce6c4aabe7e">تصنيفات عامة</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryItem</ContentType>
    <CreateDate>2023-06-25T16:45:48</CreateDate>
    <NodeName Default="تصنيف 3">
      <Name Culture="ar-eg">تصنيف 3</Name>
      <Name Culture="en-us">Category 3</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value Culture="ar-eg"><![CDATA[تصنيف 3]]></Value>
      <Value Culture="en-us"><![CDATA[Category 3]]></Value>
    </title>
  </Properties>
</Content>