<?xml version="1.0" encoding="utf-8"?>
<Content Key="7e8d200e-d80d-4031-bc76-1ce6c4aabe7e" Alias="تصنيفات عامة" Level="2">
  <Info>
    <Parent Key="558bc0f7-b6b5-4e7d-a396-33288b07d747">التصنيفات</Parent>
    <Path>//</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryList</ContentType>
    <CreateDate>2023-06-25T16:45:15</CreateDate>
    <NodeName Default="تصنيفات عامة">
      <Name Culture="ar-eg">تصنيفات عامة</Name>
      <Name Culture="en-us">Lookups</Name>
      <Name Culture="fr-fr">Catégories</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">false</Published>
      <Published Culture="fr-fr">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value Culture="ar-eg"><![CDATA[تصنيفات عامة ]]></Value>
      <Value Culture="en-us"><![CDATA[Lookups]]></Value>
      <Value Culture="fr-fr"><![CDATA[Catégories]]></Value>
    </title>
  </Properties>
</Content>