<?xml version="1.0" encoding="utf-8"?>
<Content Key="01a27a76-4a0c-4884-a35c-16f18414a653" Alias="تواصل معنا 2" Level="3">
  <Info>
    <Parent Key="5ac89dc5-f814-4f6b-a24d-5f39d70adf88">صفحة عامة</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUsPage</ContentType>
    <CreateDate>2023-07-17T14:04:44</CreateDate>
    <NodeName Default="تواصل معنا 2">
      <Name Culture="ar-eg">تواصل معنا 2</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mails>
      <Value Culture="ar-eg"><![CDATA[umb://document/599691b760a540789339577399c500be]]></Value>
    </mails>
    <title>
      <Value Culture="ar-eg"><![CDATA[تواصل معنا 2]]></Value>
    </title>
  </Properties>
</Content>