<?xml version="1.0" encoding="utf-8"?>
<Content Key="c3765626-2962-4b0e-b098-cdf3cf5b2216" Alias="تواصل معنا (1)" Level="3">
  <Info>
    <Parent Key="5ac89dc5-f814-4f6b-a24d-5f39d70adf88">صفحة عامة</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUsPage</ContentType>
    <CreateDate>2023-07-16T16:23:40</CreateDate>
    <NodeName Default="تواصل معنا (1)">
      <Name Culture="ar-eg">تواصل معنا (1)</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mails>
      <Value Culture="ar-eg"><![CDATA[umb://document/b0abeb92ec674f70a4289da1ee85915c]]></Value>
    </mails>
    <title>
      <Value Culture="ar-eg"><![CDATA[تواصل معنا ]]></Value>
    </title>
  </Properties>
</Content>