<?xml version="1.0" encoding="utf-8"?>
<Content Key="f47052cc-cd2e-47a8-91bb-f7f32659d3f4" Alias="تواصل معنا" Level="3">
  <Info>
    <Parent Key="5ac89dc5-f814-4f6b-a24d-5f39d70adf88">صفحة عامة</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUsPage</ContentType>
    <CreateDate>2023-07-17T13:44:26</CreateDate>
    <NodeName Default="تواصل معنا">
      <Name Culture="ar-eg">تواصل معنا</Name>
      <Name Culture="en-us">Contact Us l</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mails>
      <Value Culture="ar-eg"><![CDATA[umb://document/599691b760a540789339577399c500be]]></Value>
      <Value Culture="en-us"><![CDATA[umb://document/e45a7cd4fe46403f93c24832bef2dd7d]]></Value>
    </mails>
    <title>
      <Value Culture="ar-eg"><![CDATA[تواصل معنا 1]]></Value>
      <Value Culture="en-us"><![CDATA[Contact Us l]]></Value>
    </title>
  </Properties>
</Content>