<?xml version="1.0" encoding="utf-8"?>
<Content Key="b17954eb-c370-45e4-baf9-bc2a1fd7ee39" Alias="خبر2" Level="3">
  <Info>
    <Parent Key="1c57dc94-e4a6-435c-bd9a-f8cea31b0838">الاخبار</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>genericDetailsPage</ContentType>
    <CreateDate>2023-08-29T17:35:21</CreateDate>
    <NodeName Default="خبر2">
      <Name Culture="ar-eg">خبر2</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
    </Published>
    <Schedule />
    <Template Key="e4723aba-7073-42c2-803d-e9a5107b624e">GenericDetailsPage</Template>
  </Info>
  <Properties>
    <attachmentTitle>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </attachmentTitle>
    <brief>
      <Value Culture="ar-eg"><![CDATA[خبر1]]></Value>
    </brief>
    <category>
      <Value Culture="ar-eg"><![CDATA[umb://document/76c7cc8454684a34b0700d8dea60dee4]]></Value>
    </category>
    <contentSectionItems>
      <Value Culture="ar-eg"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3f8757f598734b70b732f3be56d2d3c1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0a39323e-aae8-442a-9fae-ddf628275abf",
      "udi": "umb://element/3f8757f598734b70b732f3be56d2d3c1",
      "itemTitle": "خبر1",
      "itemContent": "خبر1"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentSectionItems>
    <contetnComponentTitle>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </contetnComponentTitle>
    <copyLink>
      <Value Culture="ar-eg"><![CDATA[9]]></Value>
    </copyLink>
    <coverImage>
      <Value Culture="ar-eg"><![CDATA[[
  {
    "key": "3bd1836a-3f83-48b7-8f99-7a867f94e255",
    "mediaKey": "763fc596-9590-4b4f-beac-6ac6182853c2"
  }
]]]></Value>
    </coverImage>
    <cTA>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </cTA>
    <date>
      <Value Culture="ar-eg"><![CDATA[2023-08-14T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="ar-eg"><![CDATA[<p>خبر1</p>
<p> </p>
<p> </p>]]></Value>
    </description>
    <facebook>
      <Value Culture="ar-eg"><![CDATA[2]]></Value>
    </facebook>
    <faqsList>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </faqsList>
    <fAQsTitle>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </fAQsTitle>
    <files>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </files>
    <gallerySection>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </gallerySection>
    <galleryTitle>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </galleryTitle>
    <mediaItem>
      <Value Culture="ar-eg"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/db72a09380544c158e5c34240a01c1ac"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7c92b1b5-ff38-4a36-8336-428ab15ddf63",
      "udi": "umb://element/db72a09380544c158e5c34240a01c1ac",
      "image": "[\r\n  {\r\n    \"key\": \"97b286b3-26fc-45b7-a95f-d30e1574419d\",\r\n    \"mediaKey\": \"763fc596-9590-4b4f-beac-6ac6182853c2\"\r\n  }\r\n]",
      "imagePosition": "Full width banner"
    }
  ],
  "settingsData": []
}]]></Value>
    </mediaItem>
    <relatedLinkItems>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </relatedLinkItems>
    <relatedLinkTitle>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </relatedLinkTitle>
    <sEODescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </sEODescription>
    <sEOKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </sEOKeywords>
    <sEOTitle>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </sEOTitle>
    <title>
      <Value Culture="ar-eg"><![CDATA[خبر عاجل]]></Value>
    </title>
    <twitter>
      <Value Culture="ar-eg"><![CDATA[1]]></Value>
    </twitter>
    <whatsApp>
      <Value Culture="ar-eg"><![CDATA[1]]></Value>
    </whatsApp>
  </Properties>
</Content>