<?xml version="1.0" encoding="utf-8"?>
<Content Key="d4f0f8f4-20c5-40a5-8d7a-91c55b47bff8" Alias="خبر 3" Level="3">
  <Info>
    <Parent Key="1c57dc94-e4a6-435c-bd9a-f8cea31b0838">الاخبار</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>genericDetailsPage</ContentType>
    <CreateDate>2023-08-22T12:02:38</CreateDate>
    <NodeName Default="خبر 3">
      <Name Culture="ar-eg">خبر 3</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
    </Published>
    <Schedule />
    <Template Key="e4723aba-7073-42c2-803d-e9a5107b624e">GenericDetailsPage</Template>
  </Info>
  <Properties>
    <attachmentTitle>
      <Value Culture="ar-eg"><![CDATA[ccc]]></Value>
    </attachmentTitle>
    <brief>
      <Value Culture="ar-eg"><![CDATA[خبر 3خبر 3]]></Value>
    </brief>
    <category>
      <Value Culture="ar-eg"><![CDATA[umb://document/76c7cc8454684a34b0700d8dea60dee4]]></Value>
    </category>
    <contentSectionItems>
      <Value Culture="ar-eg"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/44ec4f4c9e1942e594b44d639644a246"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0a39323e-aae8-442a-9fae-ddf628275abf",
      "udi": "umb://element/44ec4f4c9e1942e594b44d639644a246",
      "itemTitle": "Title",
      "itemContent": "Content"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentSectionItems>
    <contetnComponentTitle>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </contetnComponentTitle>
    <copyLink>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </copyLink>
    <coverImage>
      <Value Culture="ar-eg"><![CDATA[[
  {
    "key": "e0d59e10-33bc-44b5-b2f5-4169765ee2cf",
    "mediaKey": "71d86b4b-3ae5-43fc-8298-2705a3091475"
  }
]]]></Value>
    </coverImage>
    <cTA>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </cTA>
    <date>
      <Value Culture="ar-eg"><![CDATA[2023-08-09T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="ar-eg"><![CDATA[<p>خبر 3</p>]]></Value>
    </description>
    <facebock>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </facebock>
    <faqsList>
      <Value Culture="ar-eg"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a417bf35ea55400089b470df23586854"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "33800414-3665-4d6f-86f5-c7cc386e0d3a",
      "udi": "umb://element/a417bf35ea55400089b470df23586854",
      "title": "cc",
      "accordionItems": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/dcebad7e34d74eab838e1469ed93541b\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"f4e4f089-6ada-4d8d-b28c-a6b672652446\",\r\n      \"udi\": \"umb://element/dcebad7e34d74eab838e1469ed93541b\",\r\n      \"Title\": \"cc\",\r\n      \"Body\": \"<p>ccc</p>\"\r\n    }\r\n  ],\r\n  \"settingsData\": []\r\n}"
    }
  ],
  "settingsData": []
}]]></Value>
    </faqsList>
    <fAQsTitle>
      <Value Culture="ar-eg"><![CDATA[cc]]></Value>
    </fAQsTitle>
    <files>
      <Value Culture="ar-eg"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a6484695f631490491acae3a18529e42"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "22095b01-1465-4dde-8661-fe1462383ec8",
      "udi": "umb://element/a6484695f631490491acae3a18529e42",
      "file": "[\r\n  {\r\n    \"key\": \"a6a6eca0-66fd-409e-af63-23305df74e14\",\r\n    \"mediaKey\": \"8cd8e662-77e3-4f1d-8d16-929d176207d4\"\r\n  }\r\n]",
      "title": "cc",
      "description": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </files>
    <gallerySection>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </gallerySection>
    <galleryTitle>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </galleryTitle>
    <mediaItem>
      <Value Culture="ar-eg"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6ec95763ea4a407b97d8a71207e4267b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7c92b1b5-ff38-4a36-8336-428ab15ddf63",
      "udi": "umb://element/6ec95763ea4a407b97d8a71207e4267b",
      "image": "[\r\n  {\r\n    \"key\": \"05ae9bc4-aca0-4fdd-a374-aae83e5a4bc7\",\r\n    \"mediaKey\": \"543692d1-3db6-450c-b36c-70fc2d3fc933\"\r\n  }\r\n]",
      "imagePosition": "Side image"
    }
  ],
  "settingsData": []
}]]></Value>
    </mediaItem>
    <relatedLinkItems>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </relatedLinkItems>
    <relatedLinkTitle>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </relatedLinkTitle>
    <sEODescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </sEODescription>
    <sEOKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </sEOKeywords>
    <sEOTitle>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </sEOTitle>
    <title>
      <Value Culture="ar-eg"><![CDATA[خبر 3]]></Value>
    </title>
    <twitter>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </twitter>
    <youtube>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </youtube>
  </Properties>
</Content>