<?xml version="1.0" encoding="utf-8"?>
<Content Key="c00fb72e-6aee-47f5-a320-5fe1de418a53" Alias="خبر 1" Level="3">
  <Info>
    <Parent Key="1c57dc94-e4a6-435c-bd9a-f8cea31b0838">الاخبار</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>genericDetailsPage</ContentType>
    <CreateDate>2023-08-22T11:57:40</CreateDate>
    <NodeName Default="خبر 1">
      <Name Culture="ar-eg">خبر 1</Name>
      <Name Culture="en-us">News 1</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="e4723aba-7073-42c2-803d-e9a5107b624e">GenericDetailsPage</Template>
  </Info>
  <Properties>
    <attachmentTitle>
      <Value Culture="ar-eg"><![CDATA[sdasd]]></Value>
      <Value Culture="en-us"><![CDATA[Attachment one]]></Value>
    </attachmentTitle>
    <brief>
      <Value Culture="ar-eg"><![CDATA[خبر 1]]></Value>
      <Value Culture="en-us"><![CDATA[News 1News 1.
link]]></Value>
    </brief>
    <category>
      <Value Culture="ar-eg"><![CDATA[umb://document/c332b90c4e0042a18259af2d748a7942]]></Value>
      <Value Culture="en-us"><![CDATA[umb://document/50a404a232f947e5a23e8c69cb29be4e]]></Value>
    </category>
    <contentSectionItems>
      <Value Culture="ar-eg"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/58d286be35c6469c87232a8ebec5be6a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0a39323e-aae8-442a-9fae-ddf628275abf",
      "udi": "umb://element/58d286be35c6469c87232a8ebec5be6a",
      "itemTitle": "tilte",
      "itemContent": "content"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6a49672908fb409f9f15f26c1cbf869a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0a39323e-aae8-442a-9fae-ddf628275abf",
      "udi": "umb://element/6a49672908fb409f9f15f26c1cbf869a",
      "itemTitle": "title",
      "itemContent": "body"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentSectionItems>
    <contetnComponentTitle>
      <Value Culture="ar-eg"><![CDATA[Contetn Component Title]]></Value>
      <Value Culture="en-us"><![CDATA[Contetn Component Title]]></Value>
    </contetnComponentTitle>
    <copyLink>
      <Value Culture="ar-eg"><![CDATA[5]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </copyLink>
    <coverImage>
      <Value Culture="ar-eg"><![CDATA[[
  {
    "key": "b3273fea-5468-4b50-a95a-ae7f64490323",
    "mediaKey": "14d60e6a-cfbb-4557-acf2-f8d434633c93"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "3c51b53c-fad7-4c75-ab73-07a5e3c71366",
    "mediaKey": "14d60e6a-cfbb-4557-acf2-f8d434633c93"
  }
]]]></Value>
    </coverImage>
    <cTA>
      <Value Culture="ar-eg"><![CDATA[[
  {
    "name": "التصنيفات",
    "udi": "umb://document/558bc0f7b6b54e7da39633288b07d747"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "name": "Homepage",
    "udi": "umb://document/ed59b510bab5410e944caad12e87c5c6"
  }
]]]></Value>
    </cTA>
    <date>
      <Value Culture="ar-eg"><![CDATA[2023-08-01T00:00:00]]></Value>
      <Value Culture="en-us"><![CDATA[2023-08-08T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="ar-eg"><![CDATA[<p>خبر 1خبر 1خبر 1خبر 1</p>]]></Value>
      <Value Culture="en-us"><![CDATA[<p>News 1</p>]]></Value>
    </description>
    <facebook>
      <Value Culture="ar-eg"><![CDATA[15]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </facebook>
    <faqsList>
      <Value Culture="ar-eg"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d1df03054e7447d887dcbb32e64696b6"
      },
      {
        "contentUdi": "umb://element/20101936eaff4fe1927894329b9a4e9d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "33800414-3665-4d6f-86f5-c7cc386e0d3a",
      "udi": "umb://element/d1df03054e7447d887dcbb32e64696b6",
      "title": "المجموعه 1",
      "accordionItems": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/35353fa601bf44dfbc6d720e8cf53929\"\r\n      },\r\n      {\r\n        \"contentUdi\": \"umb://element/717eda7d6c02459c837b96fa20f36b6f\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"f4e4f089-6ada-4d8d-b28c-a6b672652446\",\r\n      \"udi\": \"umb://element/35353fa601bf44dfbc6d720e8cf53929\",\r\n      \"Title\": \"السؤال 1 ؟\",\r\n      \"Body\": \"<p>الاجابة</p>\"\r\n    },\r\n    {\r\n      \"contentTypeKey\": \"f4e4f089-6ada-4d8d-b28c-a6b672652446\",\r\n      \"udi\": \"umb://element/717eda7d6c02459c837b96fa20f36b6f\",\r\n      \"Title\": \"السؤال 2 ؟\",\r\n      \"Body\": \"<p>الاجابة </p>\"\r\n    }\r\n  ],\r\n  \"settingsData\": []\r\n}"
    },
    {
      "contentTypeKey": "33800414-3665-4d6f-86f5-c7cc386e0d3a",
      "udi": "umb://element/20101936eaff4fe1927894329b9a4e9d",
      "title": "المجموعه 2",
      "accordionItems": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/97100e8c8e8d4d539b2796522d8530b5\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"f4e4f089-6ada-4d8d-b28c-a6b672652446\",\r\n      \"udi\": \"umb://element/97100e8c8e8d4d539b2796522d8530b5\",\r\n      \"Title\": \"السؤال 1 \",\r\n      \"Body\": \"<p>الاجابة</p>\"\r\n    }\r\n  ],\r\n  \"settingsData\": []\r\n}"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/feec9da9936f46b59bf4e3bf03e07e07"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "33800414-3665-4d6f-86f5-c7cc386e0d3a",
      "udi": "umb://element/feec9da9936f46b59bf4e3bf03e07e07",
      "title": "FAQs 1",
      "accordionItems": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/bd109d15a2344ff9bea7113db5dee681\"\r\n      },\r\n      {\r\n        \"contentUdi\": \"umb://element/c1710964c03d4b9cb33c95457f1a793c\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"f4e4f089-6ada-4d8d-b28c-a6b672652446\",\r\n      \"udi\": \"umb://element/bd109d15a2344ff9bea7113db5dee681\",\r\n      \"Title\": \"Questions 1 ?\",\r\n      \"Body\": \"<p>ANS 1</p>\"\r\n    },\r\n    {\r\n      \"contentTypeKey\": \"f4e4f089-6ada-4d8d-b28c-a6b672652446\",\r\n      \"udi\": \"umb://element/c1710964c03d4b9cb33c95457f1a793c\",\r\n      \"Title\": \"Questions 2 ?\",\r\n      \"Body\": \"<p>ANs 2</p>\"\r\n    }\r\n  ],\r\n  \"settingsData\": []\r\n}"
    }
  ],
  "settingsData": []
}]]></Value>
    </faqsList>
    <fAQsTitle>
      <Value Culture="ar-eg"><![CDATA[FAQs Title]]></Value>
      <Value Culture="en-us"><![CDATA[FAQs Title]]></Value>
    </fAQsTitle>
    <files>
      <Value Culture="ar-eg"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/727de57da792404ba7e1bacae9b91dac"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "22095b01-1465-4dde-8661-fe1462383ec8",
      "udi": "umb://element/727de57da792404ba7e1bacae9b91dac",
      "file": "[\r\n  {\r\n    \"key\": \"61579e85-4f58-4f1d-9c25-38a14c358e47\",\r\n    \"mediaKey\": \"68fb8234-ce18-437d-ae18-f69b47690125\"\r\n  }\r\n]",
      "title": "asd",
      "description": ""
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a1e0534067244d9aacea80d9ed847faf"
      },
      {
        "contentUdi": "umb://element/df305f13644147919c1113807e0b230a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "22095b01-1465-4dde-8661-fe1462383ec8",
      "udi": "umb://element/a1e0534067244d9aacea80d9ed847faf",
      "file": "[\r\n  {\r\n    \"key\": \"1a114ebb-273d-4df0-9d18-6048413b2de8\",\r\n    \"mediaKey\": \"68fb8234-ce18-437d-ae18-f69b47690125\"\r\n  }\r\n]",
      "description": "<p>asasa</p>",
      "title": "The Air Filter Company"
    },
    {
      "contentTypeKey": "22095b01-1465-4dde-8661-fe1462383ec8",
      "udi": "umb://element/df305f13644147919c1113807e0b230a",
      "file": "[\r\n  {\r\n    \"key\": \"582f3deb-d55c-474f-94ba-1ce0ca83b08b\",\r\n    \"mediaKey\": \"8cd8e662-77e3-4f1d-8d16-929d176207d4\"\r\n  }\r\n]",
      "title": "Photosnap",
      "description": "<p>asdasdas</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </files>
    <gallerySection>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </gallerySection>
    <galleryTitle>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </galleryTitle>
    <mediaItem>
      <Value Culture="ar-eg"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6d0770dc18c24588942f72f5da50bb09"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c1012832-3b25-4284-8480-89fd94f089a7",
      "udi": "umb://element/6d0770dc18c24588942f72f5da50bb09",
      "videoThumbnail": "[\r\n  {\r\n    \"key\": \"a6480e2c-844e-4774-85cb-d3a79cd58357\",\r\n    \"mediaKey\": \"879eb192-c0bb-4ee7-89b9-81a5e18eba94\"\r\n  }\r\n]",
      "mediaVideoUploader": "[\r\n  {\r\n    \"key\": \"d9b4b765-2b55-4c8b-866a-5d2a2b62217f\",\r\n    \"mediaKey\": \"53dd3eca-9bf7-4778-a82d-7e15926e9a6d\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6d22ee8b0d724be0a4654a737c450252"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7c92b1b5-ff38-4a36-8336-428ab15ddf63",
      "udi": "umb://element/6d22ee8b0d724be0a4654a737c450252",
      "image": "[\r\n  {\r\n    \"key\": \"03b747f3-d23b-4cf7-9883-104768fa05e2\",\r\n    \"mediaKey\": \"879eb192-c0bb-4ee7-89b9-81a5e18eba94\"\r\n  }\r\n]",
      "imagePosition": "Full width banner"
    }
  ],
  "settingsData": []
}]]></Value>
    </mediaItem>
    <relatedLinkItems>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[umb://document/5ac89dc5f8144f6ba24d5f39d70adf88,umb://document/1c57dc94e4a6435cbd9af8cea31b0838]]></Value>
    </relatedLinkItems>
    <relatedLinkTitle>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[Links]]></Value>
    </relatedLinkTitle>
    <sEODescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </sEODescription>
    <sEOKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </sEOKeywords>
    <sEOTitle>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </sEOTitle>
    <title>
      <Value Culture="ar-eg"><![CDATA[خبر 1]]></Value>
      <Value Culture="en-us"><![CDATA[new ]]></Value>
    </title>
    <twitter>
      <Value Culture="ar-eg"><![CDATA[5]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </twitter>
    <whatsApp>
      <Value Culture="ar-eg"><![CDATA[6]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </whatsApp>
  </Properties>
</Content>