<?xml version="1.0" encoding="utf-8"?>
<Content Key="433c1201-7988-49b6-819e-6fb29c703772" Alias="روابط ذات صلة اولي" Level="3">
  <Info>
    <Parent Key="5ac89dc5-f814-4f6b-a24d-5f39d70adf88">صفحة عامة</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>genericRelatedLinks</ContentType>
    <CreateDate>2023-07-12T01:27:58</CreateDate>
    <NodeName Default="روابط ذات صلة اولي">
      <Name Culture="ar-eg">روابط ذات صلة اولي</Name>
      <Name Culture="en-us">Related Links l</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <relatedLinkItems>
      <Value Culture="ar-eg"><![CDATA[umb://document/1c57dc94e4a6435cbd9af8cea31b0838,umb://document/5ac89dc5f8144f6ba24d5f39d70adf88]]></Value>
      <Value Culture="en-us"><![CDATA[umb://document/1c57dc94e4a6435cbd9af8cea31b0838]]></Value>
    </relatedLinkItems>
    <relatedLinkTitle>
      <Value Culture="ar-eg"><![CDATA[روابط ذات صلة اولي]]></Value>
      <Value Culture="en-us"><![CDATA[Related Links l]]></Value>
    </relatedLinkTitle>
  </Properties>
</Content>