<?xml version="1.0" encoding="utf-8"?>
<Content Key="eb9e0b09-f3d6-4efe-b3fd-ef7f748581cf" Alias="روابط ذات صلة ثانية" Level="3">
  <Info>
    <Parent Key="5ac89dc5-f814-4f6b-a24d-5f39d70adf88">صفحة عامة</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>genericRelatedLinks</ContentType>
    <CreateDate>2023-07-13T15:07:04</CreateDate>
    <NodeName Default="روابط ذات صلة ثانية">
      <Name Culture="ar-eg">روابط ذات صلة ثانية</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <relatedLinkItems>
      <Value Culture="ar-eg"><![CDATA[umb://document/1c57dc94e4a6435cbd9af8cea31b0838]]></Value>
    </relatedLinkItems>
    <relatedLinkTitle>
      <Value Culture="ar-eg"><![CDATA[روابط ذات صلة ثانية]]></Value>
    </relatedLinkTitle>
  </Properties>
</Content>