<?xml version="1.0" encoding="utf-8"?>
<Content Key="be393118-7f46-480c-85cd-31f6eba8e8f2" Alias="صفحة التواصل" Level="2">
  <Info>
    <Parent Key="ed59b510-bab5-410e-944c-aad12e87c5c6">Home</Parent>
    <Path>/Home/</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUsWithTemplate</ContentType>
    <CreateDate>2023-07-17T17:13:23</CreateDate>
    <NodeName Default="صفحة التواصل">
      <Name Culture="ar-eg">صفحة التواصل</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
    </Published>
    <Schedule />
    <Template Key="69bd5262-1b5c-43bb-83bb-9c593975aa15">contactUsWithTemplate</Template>
  </Info>
  <Properties>
    <mails>
      <Value Culture="ar-eg"><![CDATA[umb://document/b0abeb92ec674f70a4289da1ee85915c]]></Value>
    </mails>
    <title>
      <Value Culture="ar-eg"><![CDATA[صفحة التواصل ]]></Value>
    </title>
  </Properties>
</Content>