<?xml version="1.0" encoding="utf-8"?>
<Content Key="5ac89dc5-f814-4f6b-a24d-5f39d70adf88" Alias="صفحة عامة" Level="2">
  <Info>
    <Parent Key="ed59b510-bab5-410e-944c-aad12e87c5c6">Home</Parent>
    <Path>/Home/</Path>
    <Trashed>false</Trashed>
    <ContentType>genericComponentBasedPage</ContentType>
    <CreateDate>2023-07-12T01:08:24</CreateDate>
    <NodeName Default="صفحة عامة">
      <Name Culture="ar-eg">صفحة عامة</Name>
      <Name Culture="en-us">Generic Based Page Module</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="52fb96e5-9f2d-4716-8642-92d9f996772f">GenericComponentBasedPage</Template>
  </Info>
  <Properties>
    <coverImage>
      <Value Culture="ar-eg"><![CDATA[[
  {
    "key": "cc3fa9e1-f2cf-4c88-b225-d43c467ed363",
    "mediaKey": "763fc596-9590-4b4f-beac-6ac6182853c2"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "cbc6530c-a53b-4e73-a439-3bfcfda36df9",
    "mediaKey": "763fc596-9590-4b4f-beac-6ac6182853c2"
  }
]]]></Value>
    </coverImage>
    <menuTitle>
      <Value Culture="ar-eg"><![CDATA[صفحة عامة]]></Value>
      <Value Culture="en-us"><![CDATA[Generic Based Page Module]]></Value>
    </menuTitle>
    <sEODescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </sEODescription>
    <sEOKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </sEOKeywords>
    <sEOTitle>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </sEOTitle>
    <showInHeader>
      <Value Culture="ar-eg"><![CDATA[1]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInHeader>
    <title>
      <Value Culture="ar-eg"><![CDATA[صفحة عامة]]></Value>
      <Value Culture="en-us"><![CDATA[Generic Based Page Module]]></Value>
    </title>
  </Properties>
</Content>