<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f3f8201-b703-4061-9252-d966395852af" Alias="عناوين بريد الكتروني" Level="2">
  <Info>
    <Parent Key="558bc0f7-b6b5-4e7d-a396-33288b07d747">التصنيفات</Parent>
    <Path>//</Path>
    <Trashed>false</Trashed>
    <ContentType>emailList</ContentType>
    <CreateDate>2023-07-12T15:00:32</CreateDate>
    <NodeName Default="عناوين بريد الكتروني">
      <Name Culture="ar-eg">عناوين بريد الكتروني</Name>
      <Name Culture="en-us">Email Addresses</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value Culture="ar-eg"><![CDATA[عناوين بريد الكتروني ]]></Value>
      <Value Culture="en-us"><![CDATA[Email Addresses]]></Value>
    </title>
  </Properties>
</Content>