<?xml version="1.0" encoding="utf-8"?>
<Content Key="485c8b9a-3b45-4040-b9d8-c00c4fbc241f" Alias="معرض الصور الاول" Level="3">
  <Info>
    <Parent Key="5ac89dc5-f814-4f6b-a24d-5f39d70adf88">صفحة عامة</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>genericGallerySection</ContentType>
    <CreateDate>2023-07-12T01:27:16</CreateDate>
    <NodeName Default="معرض الصور الاول">
      <Name Culture="ar-eg">معرض الصور الاول</Name>
      <Name Culture="en-us">First Generic Gallery</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <gallerySection>
      <Value Culture="ar-eg"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2397703949e7422e8ee100eb9c5ba714"
      },
      {
        "contentUdi": "umb://element/d90610c21f7945e99d746bf1b44dfad3"
      },
      {
        "contentUdi": "umb://element/dc7ed7eb16bc4e2fa46e7259b2991dc2"
      },
      {
        "contentUdi": "umb://element/f89104a860124d8581e505b61d050ac3"
      },
      {
        "contentUdi": "umb://element/303abbf373524b15b7a87f40246c8d0c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "49fb19b3-fa83-4d0f-8149-b3bc3d9eb31d",
      "udi": "umb://element/2397703949e7422e8ee100eb9c5ba714",
      "imageDescription": "الصورة الاولي",
      "mediaImage": "[\r\n  {\r\n    \"key\": \"66389edd-5cf0-4322-86a3-40955a6affa4\",\r\n    \"mediaKey\": \"71d86b4b-3ae5-43fc-8298-2705a3091475\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "c1012832-3b25-4284-8480-89fd94f089a7",
      "udi": "umb://element/d90610c21f7945e99d746bf1b44dfad3",
      "videoDescription": "فيديو محمل",
      "videoThumbnail": "[\r\n  {\r\n    \"key\": \"634fd511-f16d-41cc-ac72-f3cc872edb42\",\r\n    \"mediaKey\": \"71d86b4b-3ae5-43fc-8298-2705a3091475\"\r\n  }\r\n]",
      "mediaVideoUploader": "[\r\n  {\r\n    \"key\": \"7d4a8887-fe7b-4051-a5d3-55273c5df95f\",\r\n    \"mediaKey\": \"15c8ddde-006f-44e2-a010-2bee6e24d404\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "2a97e7f0-20b6-4f3d-a43f-c6d76ba06445",
      "udi": "umb://element/dc7ed7eb16bc4e2fa46e7259b2991dc2",
      "youTubeVideoLink": "https://www.youtube.com/watch?v=K4TOrB7at0Y"
    },
    {
      "contentTypeKey": "49fb19b3-fa83-4d0f-8149-b3bc3d9eb31d",
      "udi": "umb://element/f89104a860124d8581e505b61d050ac3",
      "mediaImage": "[\r\n  {\r\n    \"key\": \"9c7e513e-aa16-442b-af6e-d630655f32bd\",\r\n    \"mediaKey\": \"8baa2889-975b-44e9-9dd0-24133c61caa9\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "49fb19b3-fa83-4d0f-8149-b3bc3d9eb31d",
      "udi": "umb://element/303abbf373524b15b7a87f40246c8d0c",
      "imageDescription": "الصورة الاولي",
      "mediaImage": "[\r\n  {\r\n    \"key\": \"2b3153d3-1a31-4200-b600-6ef0c545cab9\",\r\n    \"mediaKey\": \"5d712ee2-ae2a-47de-a172-63b8f5021351\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0d08e5a91bad49dcb86432fe9581dc87"
      },
      {
        "contentUdi": "umb://element/ab957a94e5ca4533b909c773f5db0596"
      },
      {
        "contentUdi": "umb://element/1bc5d45d88fc4bc18f23c5812a7b38ef"
      },
      {
        "contentUdi": "umb://element/c5a0465f9acc439ba07b3afef455d476"
      },
      {
        "contentUdi": "umb://element/2e56803dcd17481fb9452c2c4f8e62f1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "49fb19b3-fa83-4d0f-8149-b3bc3d9eb31d",
      "udi": "umb://element/0d08e5a91bad49dcb86432fe9581dc87",
      "imageDescription": "First Image",
      "mediaImage": "[\r\n  {\r\n    \"key\": \"2b3153d3-1a31-4200-b600-6ef0c545cab9\",\r\n    \"mediaKey\": \"5d712ee2-ae2a-47de-a172-63b8f5021351\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "49fb19b3-fa83-4d0f-8149-b3bc3d9eb31d",
      "udi": "umb://element/ab957a94e5ca4533b909c773f5db0596",
      "mediaImage": "[\r\n  {\r\n    \"key\": \"9c7e513e-aa16-442b-af6e-d630655f32bd\",\r\n    \"mediaKey\": \"8baa2889-975b-44e9-9dd0-24133c61caa9\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "2a97e7f0-20b6-4f3d-a43f-c6d76ba06445",
      "udi": "umb://element/1bc5d45d88fc4bc18f23c5812a7b38ef",
      "youTubeVideoLink": "https://www.youtube.com/watch?v=K4TOrB7at0Y"
    },
    {
      "contentTypeKey": "c1012832-3b25-4284-8480-89fd94f089a7",
      "udi": "umb://element/c5a0465f9acc439ba07b3afef455d476",
      "videoDescription": "فيديو محمل",
      "videoThumbnail": "[\r\n  {\r\n    \"key\": \"b7b27a70-a0f6-4e66-982e-20c8be3babbb\",\r\n    \"mediaKey\": \"d2e3f466-fbbb-4c48-8d7d-7117f7de41d1\"\r\n  }\r\n]",
      "mediaVideoUploader": "[\r\n  {\r\n    \"key\": \"3248d96f-27eb-4c8c-8557-cf5d87959680\",\r\n    \"mediaKey\": \"15c8ddde-006f-44e2-a010-2bee6e24d404\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "49fb19b3-fa83-4d0f-8149-b3bc3d9eb31d",
      "udi": "umb://element/2e56803dcd17481fb9452c2c4f8e62f1",
      "imageDescription": "First Image ll",
      "mediaImage": "[\r\n  {\r\n    \"key\": \"2b3153d3-1a31-4200-b600-6ef0c545cab9\",\r\n    \"mediaKey\": \"5d712ee2-ae2a-47de-a172-63b8f5021351\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </gallerySection>
    <galleryTitle>
      <Value Culture="ar-eg"><![CDATA[معرض الصور الاول]]></Value>
      <Value Culture="en-us"><![CDATA[First Generic Gallery linkssss]]></Value>
    </galleryTitle>
  </Properties>
</Content>