<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f860fe9-ac14-42c5-a83a-d58ba7bde915" Alias="معرض الصور الثاني" Level="3">
  <Info>
    <Parent Key="5ac89dc5-f814-4f6b-a24d-5f39d70adf88">صفحة عامة</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>genericGallerySection</ContentType>
    <CreateDate>2023-07-13T14:44:32</CreateDate>
    <NodeName Default="معرض الصور الثاني">
      <Name Culture="ar-eg">معرض الصور الثاني</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <gallerySection>
      <Value Culture="ar-eg"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6d82463caf5c4704b1e596833fe50cb8"
      },
      {
        "contentUdi": "umb://element/e2d28cbf1d0d4ea69174d3ad03d92c40"
      },
      {
        "contentUdi": "umb://element/00cbe5ef87c4440d9d26cc46584938d5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "49fb19b3-fa83-4d0f-8149-b3bc3d9eb31d",
      "udi": "umb://element/6d82463caf5c4704b1e596833fe50cb8",
      "imageDescription": "الصورة الاولي",
      "mediaImage": "[\r\n  {\r\n    \"key\": \"2b3153d3-1a31-4200-b600-6ef0c545cab9\",\r\n    \"mediaKey\": \"5d712ee2-ae2a-47de-a172-63b8f5021351\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "c1012832-3b25-4284-8480-89fd94f089a7",
      "udi": "umb://element/e2d28cbf1d0d4ea69174d3ad03d92c40",
      "videoDescription": "فيديو محمل",
      "videoThumbnail": "[\r\n  {\r\n    \"key\": \"b7b27a70-a0f6-4e66-982e-20c8be3babbb\",\r\n    \"mediaKey\": \"d2e3f466-fbbb-4c48-8d7d-7117f7de41d1\"\r\n  }\r\n]",
      "mediaVideoUploader": "[\r\n  {\r\n    \"key\": \"3248d96f-27eb-4c8c-8557-cf5d87959680\",\r\n    \"mediaKey\": \"15c8ddde-006f-44e2-a010-2bee6e24d404\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "2a97e7f0-20b6-4f3d-a43f-c6d76ba06445",
      "udi": "umb://element/00cbe5ef87c4440d9d26cc46584938d5",
      "youTubeVideoLink": "https://www.youtube.com/watch?v=K4TOrB7at0Y"
    }
  ],
  "settingsData": []
}]]></Value>
    </gallerySection>
    <galleryTitle>
      <Value Culture="ar-eg"><![CDATA[معرض الصور الثاني]]></Value>
    </galleryTitle>
  </Properties>
</Content>